# compiled Python files
*.pyc

# dev database
/db.sqlite3

# test data
/TestLogs

# IntelliJ IDEA
.idea

# iPython
.ipynb_checkpoints
*.ipynb

# Local settings, possibly with sensitive info
# (copy from `gw2raidar/settings_local.py.example`)
/gw2raidar/settings_local.py

# result of `python3 manage.py collectstatic --noinput`
/static
