<h2>About</h2>

<p>GW2R is currently in Beta and we will be updating the UAT environment regularly with new features and bug fixes. Below is an outline of changes for each release. For any feedback, questions or issues please contact Merforga via one of the following means:</p>

<ul>
<li>In Game: Merforga.4731</li>
<li>Reddit: <a href="https://www.reddit.com/message/compose?to=merforga1&subject=GW2R">u/merforga1</a></li>
<li>Email: <a href="mailto:admin@gw2raidar.com">admin@gw2raidar.com</a></li>
</ul>

<h2>Release Notes</h2>
<ul>
  <li>
    2017-05-31:
    Show account name on hover
  </li>
  <li>
    2017-05-31:
    (<a href="https://github.com/merforga/gw2raidar/issues/48">#48</a>)
    Restrict encounter page to participants and staff only
  </li>
  <li>
    2017-05-31:
    Improved the aggregation code to take minimums and maximums always, but averages only on successful runs.
  </li>
  <li>
    2017-05-31:
    (<a href="https://github.com/merforga/gw2raidar/issues/6">#6</a>)
    DPS received by you, and you, and the whole group!
  </li>
  <li>
    2017-05-31:
    (<a href="https://github.com/merforga/gw2raidar/issues/40">#40</a>)
    Black and magenta bars should be history
  </li>
  <li>
    2017-05-31:
    (<a href="https://github.com/merforga/gw2raidar/issues/38">#38</a>)
    Players' DPS bar is being scaled properly now
  </li>
  <li>
    2017-05-30:
    (<a href="https://github.com/merforga/gw2raidar/issues/53">#53</a>)
    About page created
  </li>
  <li>
    2017-05-30:
    (<a href="https://github.com/merforga/gw2raidar/issues/52">#52</a>)
    Encounter ID and uploader shown in Admin view
  </li>
  <li>
    2017-05-29 and earlier:
    Stuff happened
  </li>
</ul>
