<h2>About</h2>

<p>GW2R is currently in Beta and we will be updating the UAT environment regularly with new features and bug fixes. Below is an outline of changes for each release. For any feedback, questions or issues please contact Merforga via one of the following means:</p>

<ul>
<li>In Game: Merforga.4731</li>
<li>Reddit: <a href="https://www.reddit.com/message/compose?to=merforga1&subject=GW2R">u/merforga1</a></li>
<li>Email: <a href="mailto:admin@gw2raidar.com">admin@gw2raidar.com</a></li>
</ul>

<h2>Release Notes</h2>
<ul>
  <li>
    2017-06-19:
    (<a href="https://github.com/merforga/gw2raidar/issues/84">#84</a>)
    Make sure the user is not out of sorts (and filters) after a refresh, because Daenerys asked
  </li>
  <li>
    2017-06-16:
    (<a href="https://github.com/merforga/gw2raidar/issues/17">#17</a>)
    Show people the nice API key list they can admire (and also remove some ambiguities)
  </li>
  <li>
    2017-06-15:
    (<a href="https://github.com/merforga/gw2raidar/issues/72">#72</a>)
    Righted the unfortunate popup, glitch be gone.
  </li>
  <li>
    2017-06-14:
    (<a href="https://github.com/merforga/gw2raidar/issues/55">#55</a>)
    Phase duration is available as the <strike>tip of the tool</strike> tooltip
  </li>
  <li>
    2017-06-14:
    (<a href="https://github.com/merforga/gw2raidar/issues/80">#80</a>)
    Pagination works.
  </li>
  <li>
    2017-06-13:
    (<a href="https://github.com/merforga/gw2raidar/issues/68">#68</a>)
    Save uploaded files (and download them back again) if so configured
  </li>
  <li>
    2017-06-12:
    (<a href="https://github.com/merforga/gw2raidar/issues/68">#68</a>)
    Let people know about filenames
  </li>
  <li>
    2017-06-12:
    (<a href="https://github.com/merforga/gw2raidar/issues/47">#47</a>)
    Improved the performance by reducing the phase/buff song-and-dance to more reasonable levels
  </li>
  <li>
    2017-06-12:
    (<a href="https://github.com/merforga/gw2raidar/issues/9">#9</a>)
    Show 3D (downs, deaths, disconnects) on player name background and hover <i>(this time for real)</i>
  </li>
  <li>
    2017-06-12:
    (<a href="https://github.com/merforga/gw2raidar/issues/50">#50</a>)
    Phases now in order
  </li>
  <li>
    2017-06-12:
    (<a href="https://github.com/merforga/gw2raidar/issues/65">#65</a>)
    Flanking support arrived
  </li>
  <li>
    2017-06-08:
    (<a href="https://github.com/merforga/gw2raidar/issues/36">#36</a>)
    No new upload, no restat - so our CPU can take a break
  </li>
  <li>
    2017-06-08:
    (<a href="https://github.com/merforga/gw2raidar/issues/64">#64</a>)
    API kys trimd JIC
  </li>
  <li>
    2017-06-07:
    (<a href="https://github.com/merforga/gw2raidar/issues/54">#54</a>)
    Error-causing uploads should now show the error properly, and not hang in processing like a piece of mutton
  </li>
  <li>
    2017-06-07:
    (<a href="https://github.com/merforga/gw2raidar/issues/8">#8</a>)
    Deimos success detection success detected
  </li>
  <li>
    2017-06-05:
    (<a href="https://github.com/merforga/gw2raidar/issues/6">#6</a>)
    Absolutely show received damage
  </li>
  <li>
    <strike>
    2017-06-05:
    (<a href="https://github.com/merforga/gw2raidar/issues/8">#9</a>)
    Show 3D (downs, deaths, disconnects) on player name background and hover
    </strike>
  </li>
  <li>
    2017-06-01:
    (<a href="https://github.com/merforga/gw2raidar/issues/8">#8</a>)
    Xera success detection success detected
  </li>
  <li>
    2017-05-31:
    Show account name on hover
  </li>
  <li>
    2017-05-31:
    (<a href="https://github.com/merforga/gw2raidar/issues/48">#48</a>)
    Restrict encounter page to participants and staff only
  </li>
  <li>
    2017-05-31:
    Improved the aggregation code to take minimums and maximums always, but averages only on successful runs.
  </li>
  <li>
    2017-05-31:
    (<a href="https://github.com/merforga/gw2raidar/issues/6">#6</a>)
    DPS received by you, and you, and the whole group!
  </li>
  <li>
    2017-05-31:
    (<a href="https://github.com/merforga/gw2raidar/issues/40">#40</a>)
    Black and magenta bars should be history
  </li>
  <li>
    2017-05-31:
    (<a href="https://github.com/merforga/gw2raidar/issues/38">#38</a>)
    Players' DPS bar is being scaled properly now
  </li>
  <li>
    2017-05-30:
    (<a href="https://github.com/merforga/gw2raidar/issues/53">#53</a>)
    About page created
  </li>
  <li>
    2017-05-30:
    (<a href="https://github.com/merforga/gw2raidar/issues/52">#52</a>)
    Encounter ID and uploader shown in Admin view
  </li>
  <li>
    2017-05-29 and earlier:
    Stuff happened
  </li>
</ul>
