<div class="uk-padding">
  <form class="uk-grid uk-grid-small">
    <div class="uk-width-1-4">
      <input class="uk-input" type="password" placeholder="Old password" value="[[account.old_password]]" required pattern=".{8,}" on-input="@node.setCustomValidity(''), @node.validity.patternMismatch && @node.setCustomValidity('Please use at least 8 characters')"/>
    </div>
    <div class="uk-width-1-4">
      <input class="uk-input" type="password" placeholder="Change password" value="[[account.password]]" required on-input="@this.set('account.passpattern', @node.value.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&')), @node.setCustomValidity(''), @node.validity.patternMismatch && @node.setCustomValidity('Please use at least 8 characters')"/>
    </div>
    <div class="uk-width-1-4">
      <input class="uk-input" type="password" placeholder="Confirm password" value="[[account.password2]]" required pattern="[[account.passpattern]]" on-input="@node.setCustomValidity(''), @node.validity.patternMismatch && @node.setCustomValidity('Please make sure the password fields match')"/>
    </div>
    <div class="uk-width-1-4">
      <button class="uk-button uk-button-primary uk-width-1-1" on-click="change_password">Save</button>
    </div>
  </form>

  <form class="uk-grid uk-grid-small">
    <div class="uk-width-3-4">
      <input class="uk-input" type="email" placeholder="Change email address" value="[[account.email]]" required/>
    </div>
    <div class="uk-width-1-4">
      <button class="uk-button uk-button-primary uk-width-1-1" on-click="change_email">Save</button>
    </div>
  </form>

  <form class="uk-grid uk-grid-small">
    <div class="uk-width-3-4">
      <input class="uk-input" placeholder="Enter GW2 API key to link another account" value="[[account.api_key]]" required pattern="^[0-9A-F]{8}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{20}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{12}$" on-input="@node.setCustomValidity(''), @node.validity.patternMismatch && @node.setCustomValidity('Please paste a valid GW2 API key')"/>
    </div>
    <div class="uk-width-1-4">
      <button class="uk-button uk-button-primary uk-width-1-1" on-click="add_api_key">Save</button>
    </div>
  </form>
</div>

<table class="uk-padding uk-table">
  <tr>
    <th>Linked account</th>
    <th>API key</th>
  </tr>
  [[#each accounts]]
    <tr>
      <td>[[name]]</td>
      <td>[[[api_key.replace(/-X.*X-/, '<span class="ignore">$&</span>')]]]</td>
    </tr>
  [[/each]]
</table>

<p>
  Note that GW2 Raidar only requires the keys to authenticate your ownership of
  a GW2 account. Therefore, you only need the default "account" permission.
  While registered (and valid), the API key is also protecting your account
  from being linked by anyone else.
</p>
