<div class="uk-padding">
  <form class="uk-grid uk-grid-small" on-submit="change_password">
    <div class="uk-width-1-4">
      <input class="uk-input" type="password" placeholder="Old password" value="[[account.old_password]]"/>
    </div>
    <div class="uk-width-1-4">
      <input class="uk-input" type="password" placeholder="Change password" value="[[account.password]]"/>
    </div>
    <div class="uk-width-1-4">
      <input class="uk-input" type="password" placeholder="Confirm password" value="[[account.password2]]"/>
    </div>
    <div class="uk-width-1-4">
      <button class="uk-button uk-button-primary uk-width-1-1" disabled="[[changePassBad]]">Save</button>
    </div>
  </form>

  <form class="uk-grid uk-grid-small" on-submit="change_email">
    <div class="uk-width-3-4">
      <input class="uk-input" type="email" placeholder="Change email address" value="[[account.email]]"/>
    </div>
    <div class="uk-width-1-4">
      <button class="uk-button uk-button-primary uk-width-1-1" disabled="[[account.email.match(/^\s*(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))\s*$/) == null]]">Save</button>
    </div>
  </form>

  <form class="uk-grid uk-grid-small" on-submit="add_api_key">
    <div class="uk-width-3-4">
      <input class="uk-input" placeholder="Enter GW2 API key to link another account" value="[[account.api_key]]"/>
    </div>
    <div class="uk-width-1-4">
      <button class="uk-button uk-button-primary uk-width-1-1" disabled="[[account.api_key.match(/^\s*[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{20}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}\s*$/) == null]]" on-click="add_api_key">Save</button>
    </div>
  </form>
</div>

<table class="uk-padding uk-table">
  <tr>
    <th>Linked account</th>
    <th>API key</th>
  </tr>
  [[#each accounts]]
    <tr>
      <td>[[name]]</td>
      <td>[[[api_key.replace(/-X.*X-/, '<span class="ignore">$&</span>')]]]</td>
    </tr>
  [[/each]]
</table>

<p>
  Note that GW2 Raidar only requires the keys to authenticate your ownership of
  a GW2 account. Therefore, you only need the default "account" permission.
  While registered (and valid), the API key is also protecting your account
  from being linked by anyone else.
</p>
