<div class="uk-flex-1">
  <div class="uk-card-default uk-card-small uk-margin-medium-bottom">
    <div class="uk-card-header">
      <h2 class="uk-font-family-secondary">Hosting 10.35 million logs isn't cheap.</h2>
    </div>
    <div class="uk-card-body">
      <p>As with any website, hosting and server costs are always at play. If you love this site, why not consider donating? A one off donation of a dollar or ten dollars is a huge help in providing this website for free and ad-free to the community.</p>
    </div>
    <div class="uk-card-footer">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="uk-width-auto uk-inline">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="3KAQWB87RUXZ2">
        <button class="uk-button" style="background-color:#003087;" type="submit" border="0" name="submit" value="submit" onClick="ga(‘send’, ‘event’, ‘Donations’, ‘Click’, ‘PayPal’);">Donate with Paypal</button>
        <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
      </form>
      <a class="uk-button" style="background-color:#fc674e;" href="https://www.patreon.com/bePatron?u=7921847" data-patreon-widget-type="become-patron-button" onClick="ga(‘send’, ‘event’, ‘Donations’, ‘Click’, ‘Patreon’);">Become a Patron!</a>
    </div>
  </div>

</div>
