{% load staticfiles %}
<div class="table-container">
{% comment %}
<!--

Encounter Filter Notes:
Label of the button should add the encounter type to the button text. i.e. If they go to Fractals>MAMA it should say 'MAMA - FRACTALS CM' in the button after they select that .

-->
  <div class="uk-button-group uk-width-1-1 boundary uk-margin-bottom">
    <button class="uk-button uk-button-default">All (45)</button>
    <div class="uk-inline">
        <button class="uk-button uk-button-default uk-button-nor">Raids (20) <i uk-icon="chevron-down"></i></button>
        <div uk-dropdown="mode: click; boundary: .boundary; boundary-align: true; pos: bottom-justify;">
            <div class="uk-width-1 uk-grid">
                <div class="uk-width-1">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a href="#">All Raids Encounters (20)</a></li>
                    </ul>
                </div>
                <div class="uk-width-1-4@m uk-width-1">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-nav-header">Spirit Vale - <a class="uk-display-inline" href="#">All (4)</a></li>
                        <li>
                            <a href="#">Vale Guardian (2)</a>
                        </li>
                        <li><a href="#">Gorseval (1)</a></li>
                        <li><a href="#">Sabetha (1)</a></li>
                    </ul>
                </div>
                <div class="uk-width-1-4@m uk-width-1">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-nav-header">Salvation Pass - <a class="uk-display-inline" href="#">All (4)</a></li>
                        <li><a href="#">Slothasor (2)</a></li>
                        <li><a href="#">Trio (1)</a></li>
                        <li><a href="#">Matthias (1)</a></li>
                    </ul>
                </div>
                <div class="uk-width-1-4@m uk-width-1">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-nav-header">Stronghold of the Faithful- <a class="uk-display-inline" href="#">All (4)</a></li>
                        <li><a href="#">Keep Construct (2)</a></li>
                        <li><a href="#">Xera (1)</a></li>
                    </ul>
                </div>
                <div class="uk-width-1-4@m uk-width-1">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-nav-header">Stronghold of the Faithful- <a class="uk-display-inline" href="#">All (4)</a></li>
                        <li><a href="#">Cairn (2)</a></li>
                        <li><a href="#">Mursaat Overseer (2)</a></li>
                        <li><a href="#">Samarog (1)</a></li>
                        <li><a href="#">Deimos (1)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-inline">
        <button class="uk-button uk-button-default uk-button-nor  uk-button-primary">Mama - Fractals CM (20) <i uk-icon="chevron-down"></i></button>
        <div uk-dropdown="mode: click; boundary: .boundary; boundary-align: true; pos: bottom-justify;">
            <div class="uk-width-1 uk-grid">
                <div class="uk-width-1">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a href="#">All Challenge Mode Encounters (5)</a></li>
                    </ul>
                </div>
                <div class="uk-width-1-4@m uk-width-1">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-nav-header">Nightmare - <a class="uk-display-inline" href="#">All (4)</a></li>
                        <li class='uk-active'>
                            <a href="#">MAMA (2)</a>
                        </li>
                        <li><a href="#">Siax (1)</a></li>
                        <li><a href="#">Ensolyss (1)</a></li>
                    </ul>
                </div>
                <div class="uk-width-1-4@m uk-width-1">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-nav-header">Shattered Observatory - <a class="uk-display-inline" href="#">All (4)</a></li>
                        <li><a href="#">Skovald (2)</a></li>
                        <li><a href="#">Astrilov (1)</a></li>
                        <li><a href="#">Arkk (1)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-inline">
        <button class="uk-button uk-button-default">Golem (20) <i uk-icon="chevron-down"></i></button>
        <div uk-dropdown="mode: click; boundary: .boundary; boundary-align: true; pos: bottom-justify;">
            <div class="uk-width-1 uk-grid">
                <div class="uk-width-1">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a href="#">All Golem Encounters (5)</a></li>
                    </ul>
                </div>
                <div class="uk-width-1-4@m uk-width-1">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-nav-header">Massive - <a class="uk-display-inline" href="#">All (4)</a></li>
                        <li>
                            <a href="#">Massive Standard Kitty Golem (2)</a>
                        </li>
                        <li><a href="#">Massive Average Kitty Golem (1)</a></li>
                        <li><a href="#">Massive Vital Kitty Golem (1)</a></li>
                    </ul>
                </div>
                <div class="uk-width-1-4@m uk-width-1">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-nav-header">Normal - <a class="uk-display-inline" href="#">All (4)</a></li>
                        <li><a href="#">Standard Kitty Golem (2)</a></li>
                        <li><a href="#">Average Kitty Golem (1)</a></li>
                        <li><a href="#">Vital Kitty Golem (1)</a></li>
                    </ul>
                </div>
                <div class="uk-width-1-4@m uk-width-1">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-nav-header">Special - <a class="uk-display-inline" href="#">All (4)</a></li>
                        <li><a href="#">Tough Kitty Golem (2)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endcomment %}
<div class="r-encounters-list encounters">
  <div class="r-encounters-list-row header">
    <div class="r-encounters-title" on-click="sort_encounters" data-sort="area:up">
      Encounter
      [[#if settings.encounterSort.prop != 'area']]
        <i class="material-icons">filter_list</i>
      [[elseif settings.encounterSort.dir == 'up']]
        <i class="material-icons">keyboard_arrow_up</i>
      [[else]]
        <i class="material-icons">keyboard_arrow_down</i>
      [[/if]]
    </div>
    <div class="r-encounters-time" on-click="sort_encounters" data-sort="started_at:started_at">Timestamp
      [[#if settings.encounterSort.prop != 'started_at']]
        <i class="material-icons">filter_list</i>
      [[elseif settings.encounterSort.dir == 'up']]
        <i class="material-icons">keyboard_arrow_up</i>
      [[else]]
        <i class="material-icons">keyboard_arrow_down</i>
      [[/if]]
    </div>
    <div class="r-encounters-duration" on-click="sort_encounters" data-sort="duration:down">Duration
      [[#if settings.encounterSort.prop != 'duration']]
        <i class="material-icons">filter_list</i>
      [[elseif settings.encounterSort.dir == 'up']]
        <i class="material-icons">keyboard_arrow_up</i>
      [[else]]
        <i class="material-icons">keyboard_arrow_down</i>
      [[/if]]
    </div>
    <div class="r-encounters-character" on-click="sort_encounters" data-sort="character:down">Character
      [[#if settings.encounterSort.prop != 'character']]
        <i class="material-icons">filter_list</i>
      [[elseif settings.encounterSort.dir == 'up']]
        <i class="material-icons">keyboard_arrow_up</i>
      [[else]]
        <i class="material-icons">keyboard_arrow_down</i>
      [[/if]]
    </div>
    <div class="r-encounters-account" on-click="sort_encounters" data-sort="account:down">Account
      [[#if settings.encounterSort.prop != 'account']]
        <i class="material-icons">filter_list</i>
      [[elseif settings.encounterSort.dir == 'up']]
        <i class="material-icons">keyboard_arrow_up</i>
      [[else]]
        <i class="material-icons">keyboard_arrow_down</i>
      [[/if]]
    </div>
    <div class="r-encounters-upload" on-click="sort_encounters" data-sort="uploaded_at:down">Log Uploaded
      [[#if settings.encounterSort.prop != 'uploaded_at']]
        <i class="material-icons">filter_list</i>
      [[elseif settings.encounterSort.dir == 'up']]
        <i class="material-icons">keyboard_arrow_up</i>
      [[else]]
        <i class="material-icons">keyboard_arrow_down</i>
      [[/if]]
    </div>
    <div class="r-encounters-category" on-click="sort_encounters" data-sort="category:down">Category
      [[#if settings.encounterSort.prop != 'category']]
        <i class="material-icons">filter_list</i>
      [[elseif settings.encounterSort.dir == 'up']]
        <i class="material-icons">keyboard_arrow_up</i>
      [[else]]
        <i class="material-icons">keyboard_arrow_down</i>
      [[/if]]
    </div>
    <div class="r-encounters-tags">Tags
      <div class="uk-float-right" on-click="encounter_filter_toggle">
        [[#if settings.encounterSort.filters]]
          <span uk-tooltip title="Remove filters" uk-icon="icon: close"></span>
        [[else]]
          <span uk-tooltip title="Filters" uk-icon="icon: search"></span>
        [[/if]]
      </div>
    </div>
  </div>
[[#each encounterSlice]]
  <a on-click="(@event.ctrlKey || @event.metaKey) || @this.page({ name: 'encounter', no: url_id })" href="[[baseURL]]/encounter/[[url_id]]" class="r-encounters-list-row">
    <div class="r-encounters-title">[[area]]</div>
    <div class="r-encounters-time">[[formatDate(started_at)]]</div>
    <div class="r-encounters-duration">Duration</div>
    <div class="r-encounters-character">
      <img alt="[[data.archetypes[archetype]]]" src="{% static 'raidar/img/arch/' %}/[[data.archetypes[archetype]]].png">
      <img alt="[[data.specialisations[profession][elite]]]" src="{% static 'raidar/img/20px/' %}/[[data.specialisations[profession][elite]]]_tango_icon_20px.png"/>
      <span class="r-character">[[character]]</span>
    </div>
    <div class="r-encounters-account">[[account]]</div>
    <div class="r-encounters-upload">[[formatDate(uploaded_at)]]</div>
    <div class="r-encounters-category">[[category ? data.categories[category] : '']]</div>
    <div class="r-encounters-tags">
      [[#each tags]]
        <span class="tag">[[.]]</span>
      [[/each]]
    </div>
  </a>
[[/each]]
</div>
</div>

<hr class="uk-divider-icon">
<ul class="uk-pagination uk-flex-center">
  [[#each encounterPages]]
    [[#if a || d]]
      <li class="[[a ? 'uk-active' : 'uk-disabled']]"><span class="[[c]]">[[t]]</span></li>
    [[else]]
      <li><a href="#" class="[[c]]" data-page="[[n || t]]" on-click="page_no">[[t]]</a></li>
    [[/if]]
  [[/each]]
</ul>
