{% load staticfiles %}
<table class="uk-table stats row-header">
  <tbody>
    <tr>
      <th>Totals</th>
    </tr>
    <tr>
      <td>Squad</td>
    </tr>
    [[#each encounter.parties:partyNo]]
      <tr>
        <td>Party [[partyNo]] ([[members.length]] member[[members.length > 1 && 's' || '']])</td>
      </tr>
    [[/each]]
  </tbody>
  [[#each encounter.parties:partyNo]]
    <tbody>
      <tr>
        <th>Party [[partyNo]]</th>
      </tr>
      [[#each members]]
        <tr>
          <td class="[[self && 'uk-text-primary']]" title="[[account]]" uk-tooltip>
            <img alt="[[data.archetypes[archetype]]]" src="{% static 'raidar/img/arch/' %}/[[data.archetypes[archetype]]].png"/>
            <img alt="[[data.specialisations[profession][elite]]]" src="{% static 'raidar/img/20px/' %}/[[data.specialisations[profession][elite]]]_tango_icon_20px.png"/>
            [[name]]
          </td>
        </tr>
      [[/each]]
    </tbody>
  [[/each]]
</table>
