<div class="uk-grid uk-margin-large-bottom uk-margin-small-top">
  [[#with encounter]]

    <div class="uk-width-1-1 uk-width-1-2@s">
      <div class="r-media">
        <img width="70px" src="/static/raidar/img/icon/[[name]].png" alt="[[name]]">
        <div class="uk-card uk-card-default uk-card-small uk-card-body" uk-drop="delay-show: 250">
          <h5 class="uk-margin-remove">
            <span>[[formatDate(started_at)]]</span>
            &#32;
          </h5>
          <div>
            <span class="ignore">Uploaded as</span>
            [[#if evtc_url]]
              <a href="[[evtc_url]]" [[#with evtc_version]]uk-tooltip title=""[[/with]]>[[filename]]</a>
            [[elseif downloadable]]
              <a href="{% url 'download' %}[[page.no]]" [[#with evtc_version]]uk-tooltip title="arcdps v[[encounter.evtc_version]]"[[/with]]>[[filename]]</a>
            [[else]]
              <span [[#with evtc_version]]uk-tooltip title="arcdps v[[encounter.evtc_version]]"[[/with]]>[[filename]]</span>
            [[/if]]
            <span class="ignore">by</span> [[uploaded_by]]
            <span class="ignore">at</span> [[formatDate(uploaded_at)]]
          </div>
        </div>
        <div class="r-body">
          <h2 style='line-height:1;' class="uk-margin-small-bottom">[[name]]</h2>
          <span class="uk-badge uk-text-bold [[encounter.success ? 'uk-label-success' : 'uk-label-danger']]">[[encounter.success ? 'Success' : 'Wipe']]</span>
          <span class="uk-badge r-bg-50 uk-text-bold">[[formatTime(duration)]]</span>
          <a href="" class="uk-badge uk-text-bold uk-visible@m">Tag [[encounter.tags]] </a>
          <div uk-dropdown="mode: click">
            <form class="uk-margin-small uk-width-medium uk-form-stacked uk-text-left" on-submit="set_tags_cat">
              <fieldset class="uk-fieldset">
                <label class="uk-form-label" for="add-category">Category</label>
                <div class="uk-form-controls">
                  <select id="add-category" as-ukUpdate class="uk-select uk-margin-small uk-select" value="[[encounter.category]]" [[#if !encounter.participated]]readonly[[/if]]>
                    <option value="[[null]]">No category</option>
                    [[#each data.categories:id]]
                      <option value="[[id]]">[[.]]</option>
                    [[/each]]
                  </select>
                </div>
                [[#if encounter.participated]]
                  <input width="300px" class="uk-textarea uk-margin-small" placeholder="Tags" as-tagsInput="'encounter.tags'">
                  <button class="uk-margin-small uk-button uk-button-small uk-button-primary">Save</button>
                [[else]]
                  <input width="300px" class="uk-textarea uk-flex-auto uk-margin-small" as-tagsInput="'encounter.tags'" readonly>
                [[/if]]
              </fieldset>
            </form>
          </div>
        </div>
      </div>



    </div>
    <div class="uk-width-1-2 uk-visible@s uk-text-right">
        <h6 class="uk-font-family-secondary uk-text-uppercase">Compare Percentile</h6>
        <input class="uk-checkbox r-percentile-checkbox" type="checkbox" id="99check" checked>
        <label class="r-percentile-label uk-text-bold" for="99check"><span class="uk-badge r-bg-99">99%</span></label>
        <input class="uk-checkbox r-percentile-checkbox" type="checkbox" id="90check" checked>
        <label class="r-percentile-label uk-text-bold" for="90check"><span class="uk-badge r-bg-90">90%</span></label>
        <input class="uk-checkbox r-percentile-checkbox" type="checkbox" id="80check">
        <label class="r-percentile-label uk-text-bold" for="80check"><span class="uk-badge r-bg-80">80%</span></label>
        <input class="uk-checkbox r-percentile-checkbox" type="checkbox" id="70check">
        <label class="r-percentile-label uk-text-bold" for="70check"><span class="uk-badge r-bg-70">70%</span></label>
        <input class="uk-checkbox r-percentile-checkbox" type="checkbox" id="60check">
        <label class="r-percentile-label uk-text-bold" for="60check"><span class="uk-badge r-bg-60">60%</span></label>
        <input class="uk-checkbox r-percentile-checkbox" type="checkbox" id="50check" checked>
        <label class="r-percentile-label uk-text-bold" for="50check"><span class="uk-badge r-bg-50">50%</span></label>
        <input class="uk-checkbox r-percentile-checkbox" type="checkbox" id="30check">
        <label class="r-percentile-label uk-text-bold" for="30check"><span class="uk-badge r-bg-30">30%</span></label>
    </div>
  [[/with]]
</div>



  <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
    <div class="uk-navbar-left">
      <ul uk-tab="swiping: true;">
        <li class="[[persistent_page.tab == 'combat_stats' ? 'uk-active' : '']]"><a on-click="@this.set('persistent_page.tab', 'combat_stats')">Overview</a></li>
        <li class="[[persistent_page.tab == 'offensive_boons' || persistent_page.tab == 'supportive_boons' || persistent_page.tab == 'offensive_buffs' || persistent_page.tab == 'supportive_buffs' ? 'uk-active' : '']]"><a href="#">Buffs <i class="material-icons">keyboard_arrow_down</i></a></li>
        <div uk-dropdown="mode: click">
            <ul class="uk-nav uk-dropdown-nav">
              <li><a on-click="@this.set('persistent_page.tab', 'offensive_boons')">Offensive Boons</a></li>
              <li><a on-click="@this.set('persistent_page.tab', 'supportive_boons')">Supportive Boons</a></li>
              <li><a on-click="@this.set('persistent_page.tab', 'offensive_buffs')">Offensive Buffs</a></li>
              <li><a on-click="@this.set('persistent_page.tab', 'supportive_buffs')">Supportive Buffs</a></li>
            </ul>
        </div>

        <li class="[[persistent_page.tab == 'boss_metrics' ? 'uk-active' : '']]"><a on-click="@this.set('persistent_page.tab', 'boss_metrics')">Boss Metrics</a></li>
      </ul>
    </div>
    <div class="uk-navbar-right uk-visible@m">
      <ul uk-tab="swiping: true;">
        [[#each encounter.phase_order]]
        <li uk-tooltip title="[[formatTime(encounter.phases[.].duration)]]" class="uk-flex-last [[page.phase == . ? 'uk-active' : '']]"><a on-click="@this.set('page.phase', .)">[[.]]</a></li>
        [[/each]]
      </ul>
    </div>
  </nav>

[[#if persistent_page.tab == 'combat_stats']]
  {% include 'raidar/encounter_combat_data.html' %}
[[elseif persistent_page.tab == 'offensive_boons' || persistent_page.tab == 'supportive_boons' || persistent_page.tab == 'offensive_buffs' || persistent_page.tab == 'supportive_buffs']]
  {% include 'raidar/encounter_buffs.html' %}
[[elseif persistent_page.tab == 'boss_metrics']]
  {% include 'raidar/encounter_boss_metrics.html' %}
[[/if]]

<p>
  Found an error?
  <a href="{% url 'named' name='info-contact' %}" on-click="encounter_bug">Contact us</a>!
</p>
