{% load staticfiles %}
<div class="table-container">
  {% include 'raidar/encounter_row_header.html' %}
  <div class="r-encounter-stats-container r-encounter-mechanics-container uk-background-default" style="z-index: 980;" uk-sticky="bottom: #offset">
    <div class="r-stats-row r-stats-header uk-visible@l">
      <div>Totals</div>
      [[#each encounter.boss_metrics]]
        <div class="r-mechanics-list" uk-tooltip="pos:bottom-left" title="[[long_name]]">
            [[short_name]]
        </div>
      [[/each]]

    </div>
  </div>
  <div class="r-encounter-stats-container r-encounter-mechanics-container">
    <div class="r-stats-row">
      <div><h5>Squad</h5></div>
      [[#each encounter.boss_metrics]]
        <div class="r-mechanics-list">
          <h6 class="uk-hidden@l">[[short_name]]</h6>
            [[[tagForMechanic(encounter, .)]]]
        </div>
      [[/each]]
    </div>
    [[#each encounter.parties:partyNo]]
    <h5 class="uk-heading-line"><span>Party [[partyNo]]</span></h5>
      [[#each members]]
        [[#with { member: . }]]
          <div class="r-stats-row">
            <div class="r-encounter-player uk-text-right [[self && 'compare-show']]" uk-tooltip="pos: bottom-left; delay: 350" title="[[#with encounter.phases[page.phase].events]]
              Deaths: [[deaths]][[#if deaths]] ([[formatTime(dead_time / 1000)]])[[/if]]<br>
              Downs: [[downs]][[#if downs]] ([[formatTime(down_time / 1000)]])[[/if]]<br>
              Disconnects: [[disconnects]][[#if disconnects]] ([[formatTime(disconnect_time / 1000)]])[[/if]]
            [[/with]]">
              <div>
                <h6 class="uk-font-family-secondary uk-margin-remove uk-text-uppercase">[[data.archetypes[archetype]]]</h6>
                [[#if name]]
                  <h5 class="uk-margin-remove">[[name]]</h5>
                [[else]]
                  <h5 class="private uk-margin-remove">PRIVATE</h5>
                [[/if]]
              </div>
              <img alt="[[data.specialisations[profession][elite]]]" src="{% static 'raidar/img/48px/' %}/[[data.specialisations[profession][elite]]]_tango_icon_48px.png"/>

            </div>
            [[#each encounter.boss_metrics]]
            <div class="r-mechanics-list">
                <h6 class="uk-hidden@l">[[short_name]]</h6>
                [[[tagForMechanic(member , .)]]]
            </div>
            [[/each]]
          </div>
        [[/with]]
      [[/each]]
      [[#with { party: . }]]
        <div class="r-stats-row">
          <div class="uk-text-right">
            <h6 class="uk-font-family-secondary uk-margin-remove uk-text-uppercase">([[members.length]] member[[members.length > 1 && 's' || '']])</h6>
            <h5 class="uk-margin-remove">Party [[partyNo]] Total</h5>
          </div>
          [[#each encounter.boss_metrics]]
            <div class="r-mechanics-list">
              <h6 class="uk-hidden@l">[[short_name]]</h6>
              [[[tagForMechanic(party, .)]]]
            </div>
          [[/each]]
        </div>
      [[/with]]
    [[/each]]
  </div>


  <div class="uk-overflow-auto">
    <table class="uk-table stats">
      <tbody>
        <tr>
          <th>Totals</th>
          [[#each encounter.boss_metrics]]
            <th uk-tooltip title="[[long_name]]" width="100">[[short_name]]</th>
          [[/each]]
        </tr>
        <tr>
          <td>Squad</td>
          [[#each encounter.boss_metrics]]
            [[[tagForMechanic(encounter, .)]]]
          [[/each]]
        </tr>
        [[#each encounter.parties:partyNo]]
          [[#with { party: . }]]
            <tr>
              <td>Party [[partyNo]] ([[members.length]] member[[members.length > 1 && 's' || '']])</td>
              [[#each encounter.boss_metrics]]
                [[[tagForMechanic(party, .)]]]
              [[/each]]
            </tr>
          [[/with]]
        [[/each]]
      </tbody>

      [[#each encounter.parties:partyNo]]
        <tbody>
          <tr>
            <th>Party [[partyNo]]</th>
            [[#each encounter.boss_metrics]]
              <th uk-tooltip title="[[long_name]]" width="100">[[short_name]]</th>
            [[/each]]
          </tr>
          [[#each members]]
            [[#with { member: . }]]
              <tr>
                <td class="[[self && 'uk-text-primary']]">
                  <img alt="[[data.archetypes[archetype]]]" src="{% static 'raidar/img/arch/' %}/[[data.archetypes[archetype]]].png"/>
                  <img alt="[[data.specialisations[profession][elite]]]" src="{% static 'raidar/img/20px/' %}/[[data.specialisations[profession][elite]]]_tango_icon_20px.png"/>
                  [[#if name]]
                    [[name]]
                  [[else]]
                    <span class="private">PRIVATE</span>
                  [[/if]]
                </td>
                [[#each encounter.boss_metrics]]
                  [[[tagForMechanic(member, .)]]]
                [[/each]]
              </tr>
            [[/with]]
          [[/each]]
        </tbody>
      [[/each]]
    </table>
  </div>
</div>
