{% load staticfiles %}
{# comment #}
XXX Currently, all of the buffs are in a single table, looked up by `data.buff_tabs[5]`
However, there's other five tabs just waiting to happen (according to #216)
Waiting to see how they are to be rendered. Are they switched? What's the switch?
{# endcomment #}

<div class="table-container">
  {% include 'raidar/encounter_row_header.html' %}

  <div class="uk-overflow-auto">
    <table class="uk-table stats">
      <tbody>
        <tr>
          <th>Totals</th>
          [[#each data.buff_tabs[5].order]]
            [[#with { buff: data.buffs[.] } ]]
              <th width="100"><img src="[[buff.icon]]" uk-tooltip title="[[buff.name]]" alt="[[buff.name]]"/></th>
            [[/with]]
          [[/each]]
        </tr>
        <tr>
          <td>Squad</td>
          [[#each data.buff_tabs[5].order]]
            [[#with { buff: data.buffs[.], code: . } ]]
              [[#if encounter.phases[page.phase]]]
                <td style="[[#if encounter.phases[page.phase].group]][[bar(encounter.phases[page.phase].buffs_out[code], encounter.phases[page.phase].group.buffs_out['avg_' + code], encounter.phases[page.phase].group.buffs_out['min_' + code], encounter.phases[page.phase].group.buffs_out['max_' + code], buff.stacks || 100)]][[else]][[bar1(encounter.phases[page.phase].buffs_out[code], buff.stacks || 100)]][[/if]]">
                  [[#with { format: buff.stacks ? num : perc } ]]
                    <span>[[format(encounter.phases[page.phase].buffs_out[code], 2)]]</span>
                    [[#if encounter.phases[page.phase].group]]
                      <span class="expected">[[format(encounter.phases[page.phase].group.buffs_out['avg_' + code], 2)]]</span>
                    [[/if]]
                  [[/with]]
                </td>
              [[else]]
                <td></td>
              [[/if]]
            [[/with]]
          [[/each]]
        </tr>
        [[#each encounter.parties:partyNo]]
          <tr>
            <td>Party [[partyNo]] ([[members.length]] member[[members.length > 1 && 's' || '']])</td>
            [[#each data.buff_tabs[5].order]]
              [[#with { buff: data.buffs[.], code: . } ]]
                [[#if phases[page.phase]]]
                  <td style="[[bar1(phases[page.phase].buffs_out[code], buff.stacks || 100)]]">
                    [[#with { format: buff.stacks ? num : perc } ]]
                      <span>[[format(phases[page.phase].buffs_out[code], 2)]]</span>
                    [[/with]]
                  </td>
                [[else]]
                  <td></td>
                [[/if]]
              [[/with]]
            [[/each]]
          </tr>
        [[/each]]
      </tbody>

      [[#each encounter.parties:partyNo]]
        <tbody>
          <tr>
            <th>Party [[partyNo]]</th>
            [[#each data.buff_tabs[5].order]]
              [[#with { buff: data.buffs[.] } ]]
                <th width="100"><img src="[[buff.icon]]" uk-tooltip title="[[buff.name]]" alt="[[buff.name]]"/></th>
              [[/with]]
            [[/each]]
          </tr>
          [[#each members]]
            <tr>
              <td class="[[self && 'uk-text-primary']]">
                <img alt="[[data.archetypes[archetype]]]" src="{% static 'raidar/img/arch/' %}/[[data.archetypes[archetype]]].png"/>
                <img alt="[[data.specialisations[profession][elite]]]" src="{% static 'raidar/img/20px/' %}/[[data.specialisations[profession][elite]]]_tango_icon_20px.png"/>
                [[#if name]]
                  [[name]]
                [[else]]
                  <span class="private">PRIVATE</span>
                [[/if]]
              </td>
              [[#each data.buff_tabs[5].order]]
                [[#with { buff: data.buffs[.], code: . } ]]
                  [[#if phases[page.phase]]]
                    <td style="[[#if phases[page.phase].archetype.buffs_out['avg_' + code]]][[bar(phases[page.phase].buffs_out[code], phases[page.phase].archetype.buffs_out['avg_' + code], phases[page.phase].archetype.buffs_out['min_' + code], phases[page.phase].archetype.buffs_out['max_' + code], buff.stacks || 100)]][[else]][[bar1(phases[page.phase].buffs_out[code], buff.stacks || 100)]][[/if]]">
                      [[#with { format: buff.stacks ? num : perc } ]]
                        <span>[[format(phases[page.phase].buffs_out[code], 2)]]</span>
                        [[#if phases[page.phase].archetype.buffs_out['avg_' + code]]]
                          <span class="expected">[[format(phases[page.phase].archetype.buffs_out['avg_' + boon], 2)]]</span>
                        [[/if]]
                      [[/with]]
                    </td>
                  [[else]]
                    <td></td>
                  [[/if]]
                [[/with]]
              [[/each]]
            </tr>
          [[/each]]
        </tbody>
      [[/each]]
    </table>
  </div>
</div>
