{% load staticfiles %}
{% comment %}
XXX Currently, all of the buffs are in a single table, looked up by `data.buff_tabs[5]`
However, there's other five tabs just waiting to happen (according to #216)
Waiting to see how they are to be rendered. Are they switched? What's the switch?
{% endcomment %}

<div class="table-container uk-margin-top">
  {% include 'raidar/encounter_row_header.html' %}
  <div class="r-encounter-stats-container uk-background-default" style="z-index: 980;" uk-sticky="bottom: #offset">
    <div class="r-stats-row r-stats-header">
      <div class="uk-visible@m">Spec</div>
      <div class="r-buff-toggle" uk-switcher="connect: .uk-switcher">
        <a href="#">Uptime</a> | <a href="#">Output</a>
      </div>
    </div>
  </div>
  <div class="r-encounter-stats-container">
    <div class="r-stats-row r-stats-buffs">
      <div class="r-encounter-player uk-text-right [[self && 'compare-show']]">
        <div>
            <h5 class="uk-margin-remove">Squad</h5>
        </div>
      </div>
      <ul class="r-encounter-buff-container" >
        <!-- Uptime -->
        <li class="uk-active">
          [[#if persistent_page.tab == 'offensive_boons']]
          [[#each data.buff_tabs[1].order]]
            [[#with { buff: data.buffs[.], code: . } ]]
              [[#if encounter.phases[page.phase]]]
                <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] Uptime</h5><strong>Performance:</strong> n/a% Percentile">
                  [[#with { format: buff.stacks ? num : perc } ]]
                  <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                    <span class="r-buff-number r-bg-[[num(((encounter.phases[page.phase].buffs[code])/(encounter.phases[page.phase].group.buffs['max_' + code])*100), 0)]]">[[format(encounter.phases[page.phase].buffs[code], 1)]] </span>
                    [[#if encounter.phases[page.phase].group]]
                      <span class="r-buff-number r-bg-50 compare">[[format(encounter.phases[page.phase].group.buffs['avg_' + code], 1)]]</span>
                    [[/if]]
                  [[/with]]
                </div>
              [[else]]
                <div></div>
              [[/if]]
            [[/with]]
          [[/each]]

          [[elseif persistent_page.tab == 'supportive_boons']]
          [[#each data.buff_tabs[2].order]]
            [[#with { buff: data.buffs[.], code: . } ]]
              [[#if encounter.phases[page.phase]]]
                <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] Uptime</h5><strong>Performance:</strong> n/a% Percentile">
                  [[#with { format: buff.stacks ? num : perc } ]]
                  <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                    <span class="r-buff-number r-bg-[[num(((encounter.phases[page.phase].buffs[code])/(encounter.phases[page.phase].group.buffs['max_' + code])*100), 0)]]">[[format(encounter.phases[page.phase].buffs[code], 1)]] </span>
                    [[#if encounter.phases[page.phase].group]]
                      <span class="r-buff-number r-bg-50 compare">[[format(encounter.phases[page.phase].group.buffs['avg_' + code], 1)]]</span>
                    [[/if]]
                  [[/with]]
                </div>
              [[else]]
                <div></div>
              [[/if]]
            [[/with]]
          [[/each]]

          [[elseif persistent_page.tab == 'offensive_buffs']]
          [[#each data.buff_tabs[3].order]]
            [[#with { buff: data.buffs[.], code: . } ]]
              [[#if encounter.phases[page.phase]]]
                <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] Uptime</h5><strong>Performance:</strong> n/a% Percentile">
                  [[#with { format: buff.stacks ? num : perc } ]]
                  <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                    <span class="r-buff-number r-bg-[[num(((encounter.phases[page.phase].buffs[code])/(encounter.phases[page.phase].group.buffs['max_' + code])*100), 0)]]">[[format(encounter.phases[page.phase].buffs[code], 1)]] </span>
                    [[#if encounter.phases[page.phase].group]]
                      <span class="r-buff-number r-bg-50 compare">[[format(encounter.phases[page.phase].group.buffs['avg_' + code], 1)]]</span>
                    [[/if]]
                  [[/with]]
                </div>
              [[else]]
                <div></div>
              [[/if]]
            [[/with]]
          [[/each]]

          [[elseif persistent_page.tab == 'supportive_buffs']]
          [[#each data.buff_tabs[3].order]]
            [[#with { buff: data.buffs[.], code: . } ]]
              [[#if encounter.phases[page.phase]]]
                <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] Uptime</h5><strong>Performance:</strong> n/a% Percentile">
                  [[#with { format: buff.stacks ? num : perc } ]]
                  <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                    <span class="r-buff-number r-bg-[[num(((encounter.phases[page.phase].buffs[code])/(encounter.phases[page.phase].group.buffs['max_' + code])*100), 0)]]">[[format(encounter.phases[page.phase].buffs[code], 1)]] </span>
                    [[#if encounter.phases[page.phase].group]]
                      <span class="r-buff-number r-bg-50 compare">[[format(encounter.phases[page.phase].group.buffs['avg_' + code], 1)]]</span>
                    [[/if]]
                  [[/with]]
                </div>
              [[else]]
                <div></div>
              [[/if]]
            [[/with]]
          [[/each]]

          [[/if]]

        </li>
      </ul>
    </div>

  [[#each encounter.parties:partyNo]]
  <h5 class="uk-heading-line"><span>Party [[partyNo]]</span></h5>
  <div class="r-stats-row r-stats-buffs">
    <div class="r-encounter-player uk-text-right [[self && 'compare-show']]" uk-tooltip="pos: bottom-left; delay: 350" title="[[#with encounter.phases[page.phase].events]]
      Deaths: [[deaths]][[#if deaths]] ([[formatTime(dead_time / 1000)]])[[/if]]<br>
      Downs: [[downs]][[#if downs]] ([[formatTime(down_time / 1000)]])[[/if]]<br>
      Disconnects: [[disconnects]][[#if disconnects]] ([[formatTime(disconnect_time / 1000)]])[[/if]]<br>
    [[/with]]">
      <div>
          <h6 class="uk-font-family-secondary uk-margin-remove uk-text-uppercase">([[members.length]] member[[members.length > 1 && 's' || '']])</h6>
          <h5 class="uk-margin-remove">Party [[partyNo]] </h5>
      </div>

    </div>
    <ul class="uk-switcher r-buff-toggle r-encounter-buff-container" >
      [[#if persistent_page.tab == 'offensive_boons']]
        <!-- Uptime -->
        <li>
          [[#each data.buff_tabs[1].order]]
            [[#with { buff: data.buffs[.], code: . } ]]
              [[#if encounter.phases[page.phase]]]
                <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] Uptime</h5><strong>Performance:</strong> n/a% Percentile">
                  [[#with { format: buff.stacks ? num : perc } ]]
                  <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                    <span class="r-buff-number r-bg-[[num(((encounter.phases[page.phase].buffs[code])/(encounter.phases[page.phase].group.buffs['max_' + code])*100), 0)]]">[[format(encounter.phases[page.phase].buffs[code], 1)]] </span>
                    [[#if encounter.phases[page.phase].group]]
                      <span class="r-buff-number r-bg-50 compare">[[format(encounter.phases[page.phase].group.buffs['avg_' + code], 1)]]</span>
                    [[/if]]
                  [[/with]]
                </div>
              [[else]]
                <div></div>
              [[/if]]
            [[/with]]
          [[/each]]
        </li>
        <!-- Output -->
        <li>
          [[#each data.buff_tabs[1].order]]
            [[#with { buff: data.buffs[.], code: . } ]]
              [[#if encounter.phases[page.phase]]]
                <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] Output</h5><strong>Performance:</strong> n/a% Percentile">
                  [[#with { format: buff.stacks ? num : perc } ]]
                  <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                    <span class="r-buff-number r-bg-60">[[format(phases[page.phase].buffs_out[code], 1)]]</span>
                    [[#if phases[page.phase].archetype.buffs_out['avg_' + code]]]
                      <span class="r-buff-number r-bg-50 compare">[[format(phases[page.phase].archetype.buffs_out['avg_' + boon], 1)]]</span>
                    [[/if]]
                  [[/with]]
                </div>
              [[else]]
                <div></div>
              [[/if]]
            [[/with]]
          [[/each]]
        </li>

      [[elseif persistent_page.tab == 'supportive_boons']]
      <!-- Uptime -->
      <li>
        [[#each data.buff_tabs[2].order]]
          [[#with { buff: data.buffs[.], code: . } ]]
            [[#if encounter.phases[page.phase]]]
              <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] Uptime</h5><strong>Performance:</strong> n/a% Percentile">
                [[#with { format: buff.stacks ? num : perc } ]]
                <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                  <span class="r-buff-number r-bg-[[num(((encounter.phases[page.phase].buffs[code])/(encounter.phases[page.phase].group.buffs['max_' + code])*100), 0)]]">[[format(encounter.phases[page.phase].buffs[code], 1)]] </span>
                  [[#if encounter.phases[page.phase].group]]
                    <span class="r-buff-number r-bg-50 compare">[[format(encounter.phases[page.phase].group.buffs['avg_' + code], 1)]]</span>
                  [[/if]]
                [[/with]]
              </div>
            [[else]]
              <div></div>
            [[/if]]
          [[/with]]
        [[/each]]
      </li>
      <!-- Output -->
      <li>
        [[#each data.buff_tabs[2].order]]
          [[#with { buff: data.buffs[.], code: . } ]]
            [[#if encounter.phases[page.phase]]]
              <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] Output</h5><strong>Performance:</strong> n/a% Percentile">
                [[#with { format: buff.stacks ? num : perc } ]]
                <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                  <span class="r-buff-number r-bg-60">[[format(phases[page.phase].buffs_out[code], 1)]]</span>
                  [[#if phases[page.phase].archetype.buffs_out['avg_' + code]]]
                    <span class="r-buff-number r-bg-50 compare">[[format(phases[page.phase].archetype.buffs_out['avg_' + boon], 1)]]</span>
                  [[/if]]
                [[/with]]
              </div>
            [[else]]
              <div></div>
            [[/if]]
          [[/with]]
        [[/each]]
      </li>

      [[elseif persistent_page.tab == 'offensive_buffs']]
      <!-- Uptime -->
      <li>
        [[#each data.buff_tabs[3].order]]
          [[#with { buff: data.buffs[.], code: . } ]]
            [[#if encounter.phases[page.phase]]]
              <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] Uptime</h5><strong>Performance:</strong> n/a% Percentile">
                [[#with { format: buff.stacks ? num : perc } ]]
                <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                  <span class="r-buff-number r-bg-[[num(((encounter.phases[page.phase].buffs[code])/(encounter.phases[page.phase].group.buffs['max_' + code])*100), 0)]]">[[format(encounter.phases[page.phase].buffs[code], 1)]] </span>
                  [[#if encounter.phases[page.phase].group]]
                    <span class="r-buff-number r-bg-50 compare">[[format(encounter.phases[page.phase].group.buffs['avg_' + code], 1)]]</span>
                  [[/if]]
                [[/with]]
              </div>
            [[else]]
              <div></div>
            [[/if]]
          [[/with]]
        [[/each]]
      </li>
      <!-- Output -->
      <li>
        [[#each data.buff_tabs[3].order]]
          [[#with { buff: data.buffs[.], code: . } ]]
            [[#if encounter.phases[page.phase]]]
              <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] Output</h5><strong>Performance:</strong> n/a% Percentile">
                [[#with { format: buff.stacks ? num : perc } ]]
                <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                  <span class="r-buff-number r-bg-60">[[format(phases[page.phase].buffs_out[code], 1)]]</span>
                  [[#if phases[page.phase].archetype.buffs_out['avg_' + code]]]
                    <span class="r-buff-number r-bg-50 compare">[[format(phases[page.phase].archetype.buffs_out['avg_' + boon], 1)]]</span>
                  [[/if]]
                [[/with]]
              </div>
            [[else]]
              <div></div>
            [[/if]]
          [[/with]]
        [[/each]]
      </li>

      [[elseif persistent_page.tab == 'supportive_buffs']]
      <!-- Uptime -->
      <li>
        [[#each data.buff_tabs[4].order]]
          [[#with { buff: data.buffs[.], code: . } ]]
            [[#if encounter.phases[page.phase]]]
              <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] Uptime</h5><strong>Performance:</strong> n/a% Percentile">
                [[#with { format: buff.stacks ? num : perc } ]]
                <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                  <span class="r-buff-number r-bg-[[num(((encounter.phases[page.phase].buffs[code])/(encounter.phases[page.phase].group.buffs['max_' + code])*100), 0)]]">[[format(encounter.phases[page.phase].buffs[code], 1)]] </span>
                  [[#if encounter.phases[page.phase].group]]
                    <span class="r-buff-number r-bg-50 compare">[[format(encounter.phases[page.phase].group.buffs['avg_' + code], 1)]]</span>
                  [[/if]]
                [[/with]]
              </div>
            [[else]]
              <div></div>
            [[/if]]
          [[/with]]
        [[/each]]
      </li>
      <!-- Output -->
      <li>
        [[#each data.buff_tabs[4].order]]
          [[#with { buff: data.buffs[.], code: . } ]]
            [[#if encounter.phases[page.phase]]]
              <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] Output</h5><strong>Performance:</strong> n/a% Percentile">
                [[#with { format: buff.stacks ? num : perc } ]]
                <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                  <span class="r-buff-number r-bg-60">[[format(phases[page.phase].buffs_out[code], 1)]]</span>
                  [[#if phases[page.phase].archetype.buffs_out['avg_' + code]]]
                    <span class="r-buff-number r-bg-50 compare">[[format(phases[page.phase].archetype.buffs_out['avg_' + boon], 1)]]</span>
                  [[/if]]
                [[/with]]
              </div>
            [[else]]
              <div></div>
            [[/if]]
          [[/with]]
        [[/each]]
      </li>
      [[/if]]
    </ul>
  </div>
    [[#each members]]

        <div class="r-stats-row r-stats-buffs">
          <div class="r-encounter-player uk-text-right [[self && 'compare-show']]" uk-tooltip="pos: bottom-left; delay: 350" title="[[#with encounter.phases[page.phase].events]]
            Deaths: [[deaths]][[#if deaths]] ([[formatTime(dead_time / 1000)]])[[/if]]<br>
            Downs: [[downs]][[#if downs]] ([[formatTime(down_time / 1000)]])[[/if]]<br>
            Disconnects: [[disconnects]][[#if disconnects]] ([[formatTime(disconnect_time / 1000)]])[[/if]]<br>
          [[/with]]">
            <div>
              <h6 class="uk-font-family-secondary uk-margin-remove uk-text-uppercase">[[data.archetypes[archetype]]]</h6>
              [[#if name]]
                <h5 class="uk-margin-remove">[[name]]</h5>
              [[else]]
                <h5 class="private uk-margin-remove">PRIVATE</h5>
              [[/if]]
            </div>
            <div class="r-encounter-player-image">
              <img alt="[[data.specialisations[profession][elite]]]" src="{% static 'raidar/img/48px/' %}/[[data.specialisations[profession][elite]]]_tango_icon_48px.png"/>
              <img class="r-encounter-player-archetype" alt="[[data.archetypes[archetype]]]" src="{% static 'raidar/img/arch/' %}/[[data.archetypes[archetype]]].png"/>
            </div>

          </div>
          <ul class="uk-switcher r-buff-toggle r-encounter-buff-container" >
            [[#if persistent_page.tab == 'offensive_boons']]
              <!-- Uptime -->
              <li>
                [[#each data.buff_tabs[1].order]]
                  [[#with { buff: data.buffs[.], code: . } ]]
                    [[#if encounter.phases[page.phase]]]
                      <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] Uptime</h5><strong>Performance:</strong> n/a% Percentile">
                        [[#with { format: buff.stacks ? num : perc } ]]
                        <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                          <span class="r-buff-number r-bg-[[num(((encounter.phases[page.phase].buffs[code])/(encounter.phases[page.phase].group.buffs['max_' + code])*100), 0)]]">[[format(encounter.phases[page.phase].buffs[code], 1)]] </span>
                          [[#if encounter.phases[page.phase].group]]
                            <span class="r-buff-number r-bg-50 compare">[[format(encounter.phases[page.phase].group.buffs['avg_' + code], 1)]]</span>
                          [[/if]]
                        [[/with]]
                      </div>
                    [[else]]
                      <div></div>
                    [[/if]]
                  [[/with]]
                [[/each]]
              </li>
              <!-- Output -->
              <li>
                [[#each data.buff_tabs[1].order]]
                  [[#with { buff: data.buffs[.], code: . } ]]
                    [[#if encounter.phases[page.phase]]]
                      <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] Output</h5><strong>Performance:</strong> n/a% Percentile">
                        [[#with { format: buff.stacks ? num : perc } ]]
                        <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                          <span class="r-buff-number r-bg-60">[[format(phases[page.phase].buffs_out[code], 1)]]</span>
                          [[#if phases[page.phase].archetype.buffs_out['avg_' + code]]]
                            <span class="r-buff-number r-bg-50 compare">[[format(phases[page.phase].archetype.buffs_out['avg_' + boon], 1)]]</span>
                          [[/if]]
                        [[/with]]
                      </div>
                    [[else]]
                      <div></div>
                    [[/if]]
                  [[/with]]
                [[/each]]
              </li>

            [[elseif persistent_page.tab == 'supportive_boons']]
            <!-- Uptime -->
            <li>
              [[#each data.buff_tabs[2].order]]
                [[#with { buff: data.buffs[.], code: . } ]]
                  [[#if encounter.phases[page.phase]]]
                    <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] Uptime</h5><strong>Performance:</strong> n/a% Percentile">
                      [[#with { format: buff.stacks ? num : perc } ]]
                      <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                        <span class="r-buff-number r-bg-[[num(((encounter.phases[page.phase].buffs[code])/(encounter.phases[page.phase].group.buffs['max_' + code])*100), 0)]]">[[format(encounter.phases[page.phase].buffs[code], 1)]] </span>
                        [[#if encounter.phases[page.phase].group]]
                          <span class="r-buff-number r-bg-50 compare">[[format(encounter.phases[page.phase].group.buffs['avg_' + code], 1)]]</span>
                        [[/if]]
                      [[/with]]
                    </div>
                  [[else]]
                    <div></div>
                  [[/if]]
                [[/with]]
              [[/each]]
            </li>
            <!-- Output -->
            <li>
              [[#each data.buff_tabs[2].order]]
                [[#with { buff: data.buffs[.], code: . } ]]
                  [[#if encounter.phases[page.phase]]]
                    <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] Output</h5><strong>Performance:</strong> n/a% Percentile">
                      [[#with { format: buff.stacks ? num : perc } ]]
                      <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                        <span class="r-buff-number r-bg-60">[[format(phases[page.phase].buffs_out[code], 1)]]</span>
                        [[#if phases[page.phase].archetype.buffs_out['avg_' + code]]]
                          <span class="r-buff-number r-bg-50 compare">[[format(phases[page.phase].archetype.buffs_out['avg_' + boon], 1)]]</span>
                        [[/if]]
                      [[/with]]
                    </div>
                  [[else]]
                    <div></div>
                  [[/if]]
                [[/with]]
              [[/each]]
            </li>

            [[elseif persistent_page.tab == 'offensive_buffs']]
            <!-- Uptime -->
            <li>
              [[#each data.buff_tabs[3].order]]
                [[#with { buff: data.buffs[.], code: . } ]]
                  [[#if encounter.phases[page.phase]]]
                    <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] Uptime</h5><strong>Performance:</strong> n/a% Percentile">
                      [[#with { format: buff.stacks ? num : perc } ]]
                      <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                        <span class="r-buff-number r-bg-[[num(((encounter.phases[page.phase].buffs[code])/(encounter.phases[page.phase].group.buffs['max_' + code])*100), 0)]]">[[format(encounter.phases[page.phase].buffs[code], 1)]] </span>
                        [[#if encounter.phases[page.phase].group]]
                          <span class="r-buff-number r-bg-50 compare">[[format(encounter.phases[page.phase].group.buffs['avg_' + code], 1)]]</span>
                        [[/if]]
                      [[/with]]
                    </div>
                  [[else]]
                    <div></div>
                  [[/if]]
                [[/with]]
              [[/each]]
            </li>
            <!-- Output -->
            <li>
              [[#each data.buff_tabs[3].order]]
                [[#with { buff: data.buffs[.], code: . } ]]
                  [[#if encounter.phases[page.phase]]]
                    <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] Output</h5><strong>Performance:</strong> n/a% Percentile">
                      [[#with { format: buff.stacks ? num : perc } ]]
                      <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                        <span class="r-buff-number r-bg-60">[[format(phases[page.phase].buffs_out[code], 1)]]</span>
                        [[#if phases[page.phase].archetype.buffs_out['avg_' + code]]]
                          <span class="r-buff-number r-bg-50 compare">[[format(phases[page.phase].archetype.buffs_out['avg_' + boon], 1)]]</span>
                        [[/if]]
                      [[/with]]
                    </div>
                  [[else]]
                    <div></div>
                  [[/if]]
                [[/with]]
              [[/each]]
            </li>

            [[elseif persistent_page.tab == 'supportive_buffs']]
            <!-- Uptime -->
            <li>
              [[#each data.buff_tabs[4].order]]
                [[#with { buff: data.buffs[.], code: . } ]]
                  [[#if encounter.phases[page.phase]]]
                    <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] Uptime</h5><strong>Performance:</strong> n/a% Percentile">
                      [[#with { format: buff.stacks ? num : perc } ]]
                      <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                        <span class="r-buff-number r-bg-[[num(((encounter.phases[page.phase].buffs[code])/(encounter.phases[page.phase].group.buffs['max_' + code])*100), 0)]]">[[format(encounter.phases[page.phase].buffs[code], 1)]] </span>
                        [[#if encounter.phases[page.phase].group]]
                          <span class="r-buff-number r-bg-50 compare">[[format(encounter.phases[page.phase].group.buffs['avg_' + code], 1)]]</span>
                        [[/if]]
                      [[/with]]
                    </div>
                  [[else]]
                    <div></div>
                  [[/if]]
                [[/with]]
              [[/each]]
            </li>
            <!-- Output -->
            <li>
              [[#each data.buff_tabs[4].order]]
                [[#with { buff: data.buffs[.], code: . } ]]
                  [[#if encounter.phases[page.phase]]]
                    <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] Output</h5><strong>Performance:</strong> n/a% Percentile">
                      [[#with { format: buff.stacks ? num : perc } ]]
                      <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                        <span class="r-buff-number r-bg-60">[[format(phases[page.phase].buffs_out[code], 1)]]</span>
                        [[#if phases[page.phase].archetype.buffs_out['avg_' + code]]]
                          <span class="r-buff-number r-bg-50 compare">[[format(phases[page.phase].archetype.buffs_out['avg_' + boon], 1)]]</span>
                        [[/if]]
                      [[/with]]
                    </div>
                  [[else]]
                    <div></div>
                  [[/if]]
                [[/with]]
              [[/each]]
            </li>
            [[/if]]
          </ul>
        </div>

    [[/each]]

  [[/each]]
  </div>

</div>
