{% load staticfiles %}
<table class="uk-table stats row-header">
  <tbody>
    <tr>
      <th>Totals</th>
    </tr>
    <tr>
      <td [[#with encounter.phases[page.phase].events]]style="[[barSurvival(., encounter.phases[page.phase].duration, encounter.parties)]]"[[/with]]>
        <div>
          Squad
        </div>
        <div uk-dropdown="pos: right-center; delay-hide: 0">
          [[#with encounter.phases[page.phase].events]]
            Deaths: [[deaths]][[#if deaths]] ([[formatTime(dead_time / 1000)]])[[/if]]<br>
            Downs: [[downs]][[#if downs]] ([[formatTime(down_time / 1000)]])[[/if]]<br>
            Disconnects: [[disconnects]][[#if disconnects]] ([[formatTime(disconnect_time / 1000)]])[[/if]]<br>
          [[/with]]
        </div>
      </td>
    </tr>
    [[#each encounter.parties:partyNo]]
      <tr>
        <td [[#with phases[page.phase].events]]style="[[barSurvival(., encounter.phases[page.phase].duration, members.length)]]"[[/with]]>
          <div>
            Party [[partyNo]] ([[members.length]] member[[members.length > 1 && 's' || '']])
          </div>
          <div uk-dropdown="pos: right-center; delay-hide: 0">
            [[#with phases[page.phase].events]]
              Deaths: [[deaths]][[#if deaths]] ([[formatTime(dead_time / 1000)]])[[/if]]<br>
              Downs: [[downs]][[#if downs]] ([[formatTime(down_time / 1000)]])[[/if]]<br>
              Disconnects: [[disconnects]][[#if disconnects]] ([[formatTime(disconnect_time / 1000)]])[[/if]]<br>
            [[/with]]
          </div>
        </td>
      </tr>
    [[/each]]
  </tbody>
  [[#each encounter.parties:partyNo]]
    <tbody>
      <tr>
        <th>Party [[partyNo]]</th>
      </tr>
      [[#each members]]
        <tr>
          <td class="[[self && 'uk-text-primary']]" [[#with phases[page.phase].events]]style="[[barSurvival(., encounter.phases[page.phase].duration)]]"[[/with]]>
            <div>
              <img alt="[[data.archetypes[archetype]]]" src="{% static 'raidar/img/arch/' %}/[[data.archetypes[archetype]]].png"/>
              <img alt="[[data.specialisations[profession][elite]]]" src="{% static 'raidar/img/20px/' %}/[[data.specialisations[profession][elite]]]_tango_icon_20px.png"/>
              [[name]]
            </div>
            <div uk-dropdown="pos: right-center; delay-hide: 0">
              <strong>[[account]]</strong><br>
              [[#with phases[page.phase].events]]
                Deaths: [[deaths]][[#if deaths]] ([[formatTime(dead_time / 1000)]])[[/if]]<br>
                Downs: [[downs]][[#if downs]] ([[formatTime(down_time / 1000)]])[[/if]]<br>
                Disconnects: [[disconnects]][[#if disconnects]] ([[formatTime(disconnect_time / 1000)]])[[/if]]<br>
              [[/with]]
            </div>
          </td>
        </tr>
      [[/each]]
    </tbody>
  [[/each]]
</table>
