{% load staticfiles %}
{% comment %}
XXX Currently, all of the buffs are in a single table, looked up by `data.buff_tabs[5]`
However, there's other five tabs just waiting to happen (according to #216)
Waiting to see how they are to be rendered. Are they switched? What's the switch?
{% endcomment %}

<div class="table-container uk-margin-top">
  <div class="r-encounter-stats-container uk-background-default uk-margin-remove-bottom" style="z-index: 980;" uk-sticky="bottom: #offset">
    <div class="r-stats-row r-stats-header">
      <div class="uk-visible@m">Spec</div>
      <div class="r-toggle">
        <a href="#" class-uk-active="!page.boon_output" on-click="@.set({'page.boon_output': false}) && false">Uptime</a>
        |
        <a href="#" class-uk-active="page.boon_output" on-click="@.set({'page.boon_output': true}) && false">Output</a>
      </div>
    </div>
  </div>

  [[#with {boons: 1, offensive_buffs: 2, supportive_buffs: 3 }[persistent_page.tab] as tabNo]]

      [[#with encounter.phases[page.phase]]]
      <div class="r-encounter-stats-container squad">
        <div class="r-stats-row r-stats-buffs">
          <div class="r-encounter-player uk-text-right@m [[self && 'compare-show']]">
            <div>
                <h5 class="uk-margin-remove">Squad</h5>
            </div>
          </div>
          <div class="r-encounter-buff-container" >
            [[#each data.buff_tabs[tabNo].order as code]]
              [[#with {
                buff: data.buffs[code],
                format: ('stacks' in data.buffs[code]) ? num : perc,
                section: page.boon_output ? {
                    name: 'Output',
                    value: buffs_out ? buffs_out[code] : 0,
                    percentiles: pctl(@context.get(`performance.buffs_out.${code}_perc`))
                  } : {
                    name: 'Uptime',
                    value: buffs ? buffs[code] : 0,
                    percentiles: pctl(@context.get(`performance.buffs.${code}_perc`))
                  }
              }]]
                [[#with bsearch(section.value, section.percentiles) as buff_pctl]]
                  <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] [[section.name]]</h5><strong>Performance:</strong> [[th(buff_pctl)]] Percentile">
                    <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                    <span class="r-buff-number r-bg-[[buff_pctl]]">[[format(section.value, 1)]]</span>
                    <span class="r-buff-number r-bg-[[settings.comparePerc]] compare">[[format(section.percentiles[settings.comparePerc], 1)]]</span>
                  </div>
                [[/with]]
              [[/with]]
            [[/each]]
          </div>
        </div>
      </div>
      [[/with]]

      [[#each encounter.phases[page.phase].parties:partyNo]]
      <div class="r-encounter-stats-container">

          <!-- <h5 class="uk-heading-line"><span>Party [[partyNo]]</span></h5> -->
          <div class="r-stats-row r-stats-buffs r-party">
            <div class="r-encounter-player uk-text-right@m" uk-tooltip="pos: bottom-left; delay: 350" title="[[#with events]]
                  Deaths: [[dead_count]][[#if dead_count]] ([[formatTime(dead_time / 1000)]])[[/if]]<br>
                  Downs: [[down_count]][[#if down_count]] ([[formatTime(down_time / 1000)]])[[/if]]<br>
                  Disconnects: [[disconnect_count]][[#if disconnect_count]] ([[formatTime(disconnect_time / 1000)]])[[/if]]<br>
                [[/with]]">
              <div>

                <h5 class="uk-margin-remove">Party [[partyNo]] </h5>
                <h6 class="uk-font-family-secondary uk-text-muted uk-margin-remove uk-text-uppercase">[[members.length]] member[[members.length > 1 && 's' || '']]</h6>
              </div>
            </div>
            <div class="r-encounter-buff-container">
              [[#each data.buff_tabs[tabNo].order as code]]
                [[#with {
                  buff: data.buffs[code],
                  format: ('stacks' in data.buffs[code]) ? num : perc,
                  section: page.boon_output ? {
                      name: 'Output',
                      value: buffs_out ? buffs_out[code] : 0
                    } : {
                      name: 'Uptime',
                      value: buffs ? buffs[code] : 0
                    }
                }]]
                  <div class="r-encounter-buff r-tooltip-help" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] [[section.name]]</h5>">
                    <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                    <span class="r-buff-number r-bg-101">[[format(section.value, 1)]]</span>
                  </div>
                [[/with]]
              [[/each]]
            </div>
          </div>

        [[#each members]]
            <div class="r-stats-row r-stats-buffs r-member activity-[[#with events]][[#with encounter]][[num(((duration - ((down_time / 1000) + (dead_time / 1000) + (disconnect_time / 1000)))/duration)*100, 0)]][[/with]][[/with]]">
              <div class="r-encounter-player uk-text-right@m [[self && 'compare-show']]" uk-tooltip="pos: bottom-left; delay: 350" title="[[#if account]][[name]]</br><strong>Account:</strong> [[account]][[else]]ACCOUNT PRIVATE[[/if]]<br><strong>Activity:</strong> [[#with events]][[#with encounter]][[perc(((duration - ((down_time / 1000) + (dead_time / 1000) + (disconnect_time / 1000)))/duration)*100, 0)]][[/with]][[/with]][[#with events]]<br>
                <strong>Deaths:</strong> [[dead_count]][[#if dead_count]] ([[formatTime(dead_time / 1000)]])[[/if]]<br>
                <strong>Downed:</strong> [[down_count]][[#if down_count]] ([[formatTime(down_time / 1000)]])[[/if]]<br>
                <strong>Disconnects:</strong> [[disconnect_count]][[#if disconnect_count]] ([[formatTime(disconnect_time / 1000)]])[[/if]]
              [[/with]]">
                <div class="uk-text-truncate">
                  <h6 class="uk-font-family-secondary uk-text-muted uk-margin-remove uk-text-uppercase">[[data.archetypes[archetype]]]</h6>
                  [[#if name]]
                    <h5 class="uk-margin-remove uk-text-truncate">[[name]]</h5>
                  [[else]]
                    <h5 class="private uk-margin-remove" data-text="PRIVATE">PRIVATE</h5>
                  [[/if]]
                </div>
                <div class="r-encounter-player-image">
                  <img alt="[[data.specialisations[profession][elite]]]" src="{% static 'raidar/img/48px/' %}/[[data.specialisations[profession][elite]]]_tango_icon_48px.png"/>
                  <img class="r-encounter-player-archetype" alt="[[data.archetypes[../../archetype]]]" src="{% static 'raidar/img/arch/' %}[[data.archetypes[archetype]]].png"/>
                </div>
              </div>

              <div class="r-encounter-buff-container" >
                [[#each data.buff_tabs[tabNo].order as code]]
                  [[#with {
                    buff: data.buffs[code],
                    format: ('stacks' in data.buffs[code]) ? num : perc,
                    section: page.boon_output ? {
                        name: 'Output',
                        value: buffs_out ? buffs_out[code] : 0,
                        percentiles: pctl(@context.get(`performance.buffs_out.${code}_perc`))
                      } : {
                        name: 'Uptime',
                        value: buffs ? buffs[code] : 0,
                        percentiles: pctl(@context.get(`performance.buffs.${code}_perc`))
                      }
                  }]]
                    [[#with bsearch(section.value, section.percentiles) as buff_pctl]]
                      <div class="r-encounter-buff r-tooltip-help [[section.value > 0 ? ' ' : 'uk-invisible' ]]" uk-tooltip="pos:bottom-left" title="<h5 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>[[buff.name]] [[section.name]]</h5><strong>Performance:</strong> [[th(buff_pctl)]] Percentile">
                        <img src="[[buff.icon]]" alt="[[buff.name]]"/>
                        <span class="r-buff-number r-bg-[[buff_pctl]]">[[format(section.value, 1)]] </span>
                        <span class="r-buff-number r-bg-[[settings.comparePerc]] compare">[[format(section.percentiles[settings.comparePerc], 1)]]</span>
                      </div>
                    [[/with]]
                  [[/with]]
                [[/each]]
              </div>
            </div>
        [[/each]]
        </div>
      [[/each]]

  [[/with]]
</div>
