{% load staticfiles %}
<div class="table-container">
  {% include 'raidar/encounter_row_header.html' %}

  <div class="uk-overflow-auto">
    <table class="uk-table stats">
      <tbody>
        <tr>
          <th>Totals</th>
          [[#each encounter.boss_metrics]]
            <th uk-tooltip title="[[long_name]]" width="100">[[short_name]]</th>
          [[/each]]
        </tr>
        <tr>
          <td>Squad</td>
          [[#each encounter.boss_metrics]]
            [[[tagForMechanic(encounter, .)]]]
          [[/each]]
        </tr>
        [[#each encounter.parties:partyNo]]
          [[#with { party: . }]]
            <tr>
              <td>Party [[partyNo]] ([[members.length]] member[[members.length > 1 && 's' || '']])</td>
              [[#each encounter.boss_metrics]]
                [[[tagForMechanic(party, .)]]]
              [[/each]]
            </tr>
          [[/with]]
        [[/each]]
      </tbody>

      [[#each encounter.parties:partyNo]]
        <tbody>
          <tr>
            <th>Party [[partyNo]]</th>
            [[#each encounter.boss_metrics]]
              <th uk-tooltip title="[[long_name]]" width="100">[[short_name]]</th>
            [[/each]]
          </tr>
          [[#each members]]
            [[#with { member: . }]]
              <tr>
                <td class="[[self && 'uk-text-primary']]">
                  <img alt="[[data.archetypes[archetype]]]" src="{% static 'raidar/img/arch/' %}/[[data.archetypes[archetype]]].png"/>
                  <img alt="[[data.specialisations[profession][elite]]]" src="{% static 'raidar/img/20px/' %}/[[data.specialisations[profession][elite]]]_tango_icon_20px.png"/>
                  [[#if name]]
                    [[name]]
                  [[else]]
                    <span class="private">PRIVATE</span>
                  [[/if]]
                </td>
                [[#each encounter.boss_metrics]]
                  [[[tagForMechanic(member, .)]]]
                [[/each]]
              </tr>
            [[/with]]
          [[/each]]
        </tbody>
      [[/each]]
    </table>
  </div>
</div>
