{% load staticfiles %}

[[#with global_stats]]
  <div id="content" class="uk-margin-left uk-margin-right uk-margin-top">
  <div class="uk-clearfix">
    <div class="uk-float-left">
      <h2 class="uk-margin-remove">[[findId(areas, page.area_id).name]]</h2>
      <h3 class="uk-margin-remove">in the [[findId(eras, page.era_id).name]] Era</h3>
    </div>
    <div class="uk-float-right uk-text-right">
      <select as-ukUpdate id="area-selector" class="uk-select" value='[[page.area_id]]'
              on-change="refresh_page">
          <option value="[[null]]">All</option>
        [[#each areas]]
          <option value='[[id]]'>[[name]]</option>
        [[/each]]
      </select>
      <select as-ukUpdate id="era-selector" class="uk-select" value='[[page.era_id]]'
              on-change="refresh_page">
          <option value="[[null]]">Most recent</option>
        [[#each eras]]
          <option value='[[id]]'>[[name]]</option>
        [[/each]]
      </select>
    </div>
  </div>

  [[#with stats]]

      [[#each [{archetype: 1}, {archetype: 2}, {archetype: 5}] ]]
      <h3>[[data.archetypes[archetype]]]</h3>
      <div id="specialisation-stats">
        <table class="uk-table uk-table-striped uk-table-small">
          <thead>
            <tr class="uk-background-secondary">
              <th class="uk-table-shrink">Specialisation</th>
              <th class="uk-table-shrink">Popularity</th>
              <th class="uk-table-expand">Cleave DPS</th>
              <th class="uk-table-expand">Boss DPS</th>
              <th>Buff 1 </th>
              <th>Buff 2 </th>
              <th>Buff 3 </th>
              <th>Buff 4 </th>
              <th>Buff 5 </th>
            </tr>
          </thead>
          <tbody>
            [[#each flattenStats(build)]]
              [[#with {lineStats: build[professionId][eliteId][archetypeId]}]]
                [[#if professionId != 'All' && eliteId != 'All' && archetypeId == archetype]]
                  [[#with {buffs: highestBuffs(build[professionId][eliteId][archetypeId].buffs_out)}]]
                  <tr class="uk-margin-remove" >
                    <td>
                      <img class="uk-margin-remove" alt="[[data.specialisations[professionId][eliteId]]]" src="{% static 'raidar/img/20px/' %}/[[data.specialisations[professionId][eliteId]]]_tango_icon_20px.png" />
                      [[professionId === 'All' ? 'All' : data.specialisations[professionId][eliteId]]]
                    </td>
                    <td>[[(lineStats.count/group.count).toFixed(2)]]</td>
                    [[#each [
                      {"percentiles": p(lineStats.per_dps), "max": individual.max_dps},
                      {"percentiles": p(lineStats.per_dps_boss), "max": individual.max_dps_boss},
                      buffs[0],
                      buffs[1],
                      buffs[2],
                      buffs[3],
                      buffs[4]
                    ] ]]
                      <td class="uk-margin-remove uk-height-2-2" style="[[p_bar(percentiles, max, buff_image)]]">
                        [[#if buff_image]]
                          <img src="{% static 'raidar/img/buff/' %}/[[buff_image]].png" title="[[buff_name]]" alt="[[buff_name]]"/>
                        [[else]]

                        [[/if]]
                      </td>
                    [[/each]]
                  </tr>
                  [[/with]]
                [[/if]]
              [[/with]]
            [[else]]
              <tr><td colspan="9">Not enough data to display for [[data.archetypes[archetype]]] specialisations</td></tr>
            [[/each]]
          </tbody>
        </table>
        </div>
      [[/each]]

  [[/with]]
  </div>
[[/with]]
