{% load staticfiles %}

[[#with global_stats]]
  <div class="uk-clearfix">
    <div class="uk-float-left">
      <h2 class="uk-margin-remove">The [[page.global_era.name]] Era</h2>
    </div>
    <div class="uk-float-right uk-text-right">
      <select as-ukUpdate id="era-selector" class="uk-select" value='[[page.selected_era]]'
              oninput="r.globalStatsPage()">
          <option value="null"></option>
        [[#each eras]]
          <option value='[[this]]' [[#if page.era_started_at == this.started_at]]selected[[/if]]>[[name]]</option>
        [[/each]]
      </select>
    </div>

    <div class="uk-float-left">
      <h2 class="uk-margin-remove">The [[page.global_era.name]] Era</h2>
    </div>
    <div class="uk-float-right uk-text-right">
      <select as-ukUpdate id="area-selector" class="uk-select" value='[[page.selected_area]]'
              oninput="r.globalStatsPage()">
          <option value="null">All</option>
        [[#each areas]]
          <option value='[[this]]' [[#if page.area_id == this.id]]selected[[/if]]>[[name]]</option>
        [[/each]]
      </select>
    </div>
  </div>

  [[#with stats]]
    <div id="content" class="uk-margin">
      <div id="specialisation-stats">
        <table class="uk-table uk-table-striped uk-table-small">
          <thead>
            <tr class="uk-background-secondary">
              <th class="uk-table-shrink">Specialisation</th>
              <th class="uk-table-shrink">Archetype</th>
              <th class="uk-table-shrink">Count</th>
              <th>Cleave DPS</th>
              <th>Boss DPS</th>
              <th>Scholar </th>
              <th>Buff 1 </th>
              <th>Buff 2 </th>
              <th>Buff 3 </th>
            </tr>
          </thead>
          <tbody>
            [[#each flattenStats(build)]]
              [[#with {lineStats: build[professionId][eliteId][archetypeId]}]]
                [[#if professionId != 'All' && eliteId != 'All' && archetypeId != 'All']]
                  <tr class="uk-margin-remove" >
                    <td>
                      <img class="uk-margin-remove" alt="[[data.specialisations[professionId][eliteId]]]" src="{% static 'raidar/img/20px/' %}/[[data.specialisations[professionId][eliteId]]]_tango_icon_20px.png" />
                      [[professionId === 'All' ? 'All' : data.specialisations[professionId][eliteId]]]
                    </td>
                    <td>[[data.archetypes[archetypeId]]]</td>
                    <td>[[(lineStats.count/group.count).toFixed(2)]]</td>
                    [[#each [
                      {"percentiles": p(lineStats.per_dps), "max": individual.max_dps},
                      {"percentiles": p(lineStats.per_dps_boss), "max": individual.max_dps_boss},
                      {"percentiles": p(lineStats.per_scholar), "max": individual.max_scholar},
                      {"percentiles": p(lineStats.buffs.per_might), "max": 25},
                      {"percentiles": p(lineStats.buffs.per_quickness), "max": 100},
                      {"percentiles": p(lineStats.buffs.per_alacrity), "max": 100}
                    ] ]]
                      <td class="uk-margin-remove uk-height-2-2" style="[[p_bar(percentiles, max)]]">
                      </td>
                    [[/each]]

                  </tr>
                [[/if]]
              [[/with]]
            [[/each]]
          </tbody>
        </table>
      </div>
    </div>
  [[/with]]
[[/with]]


<!--
    [[#if encounter[page.area]]]
      <div class="uk-text-center uk-clearfix">
        <div class="uk-float-left uk-flex uk-flex-between uk-padding-small" style="[[barSurvivalPerc(
            encounter[page.area].archetype.All.profession.All.elite.All.avg_down_percentage,
            encounter[page.area].archetype.All.profession.All.elite.All.avg_dead_percentage,
            0)]]; width: 400px">
            <div>Live [[
              (100
              - encounter[page.area].archetype.All.profession.All.elite.All.avg_down_percentage
              - encounter[page.area].archetype.All.profession.All.elite.All.avg_dead_percentage
              ).toPrecision(3)]]%</div>
          <div>Down [[encounter[page.area].archetype.All.profession.All.elite.All.avg_down_percentage.toPrecision(3)]]%</div>
          <div>Dead [[encounter[page.area].archetype.All.profession.All.elite.All.avg_dead_percentage.toPrecision(3)]]%</div>
        </div>
        <div class="uk-float-right uk-flex uk-flex-between uk-padding-small" style="[[barSurvivalPerc(
            encounter[page.area].archetype[1] ? 100 * encounter[page.area].archetype[1].profession.All.elite.All.count / encounter[page.area].archetype.All.profession.All.elite.All.count : 0,
            encounter[page.area].archetype[2] ? 100 * encounter[page.area].archetype[2].profession.All.elite.All.count / encounter[page.area].archetype.All.profession.All.elite.All.count : 0,
            0
          )]]; width: 400px">
          <div>Support [[encounter[page.area].archetype[5] ? (100 * encounter[page.area].archetype[5].profession.All.elite.All.count / encounter[page.area].archetype.All.profession.All.elite.All.count).toPrecision(3) : 0]]%</div>
          <div>Power [[encounter[page.area].archetype[1] ? (100 * encounter[page.area].archetype[1].profession.All.elite.All.count / encounter[page.area].archetype.All.profession.All.elite.All.count).toPrecision(3) : 0]]%</div>
          <div>Condi [[encounter[page.area].archetype[2] ? (100 * encounter[page.area].archetype[2].profession.All.elite.All.count / encounter[page.area].archetype.All.profession.All.elite.All.count).toPrecision(3) : 0]]%</div>
        </div>
      </div>


      [[#each keysWithAllLast(encounter[page.area].archetype, {1: 2, 2: 3, 5: 1})]]
        [[#with {archetypeId: ., archetype: encounter[page.area].archetype[.]}]]
          <h3>
            [[#if archetypeId !== 'All']]
              <img alt="[[data.archetypes[archetypeId]]]" src="{% static 'raidar/img/arch/' %}/[[data.archetypes[archetypeId]]].png"/>
            [[/if]]
            [[archetypeId === 'All' ? 'All' : data.archetypes[archetypeId]]]
            <span class="ignore">Archetypes on</span>
            [[page.area.match(/^All \w+ bosses$/) ? page.area : data.areas[page.area]]]
          </h3>
          <table class="uk-table uk-table-striped">
            <thead>
              <tr class="uk-background-secondary">
                <th>Profession</th>
                <th>Encounters</th>
                <th>Avg DPS</th>
                <th>Max DPS</th>
                <th>Down</th>
                <th>Dead</th>
              </tr>
            </thead>
            <tbody>
              [[#each keysWithAllLast(archetype.profession)]]
                [[#with {professionId: ., profession: archetype.profession[.]}]]
                  [[#each keysWithAllLast(profession.elite)]]
                    [[#with {eliteId: ., elite: profession.elite[.]}]]
                      [[#with elite]]
                        <tr class="[[professionId === 'All' ? 'all' : '']] link" on-click="@this.fire('chart', event, archetypeId, professionId, eliteId, .)">
                          <th>
                            [[#if professionId !== 'All']]
                              <img alt="[[data.specialisations[professionId][eliteId]]]" src="{% static 'raidar/img/20px/' %}/[[data.specialisations[professionId][eliteId]]]_tango_icon_20px.png"/>
                            [[/if]]
                            [[professionId === 'All' ? 'All' : data.specialisations[professionId][eliteId]]]
                          </th>
                          <td>
                            [[.count]]
                          </td>
                          <td>
                            [[.avg_dps !== undefined ? Math.round(.avg_dps) : '']]
                          </td>
                          <td>
                            [[.max_dps !== undefined ? Math.round(.max_dps) : '']]
                          </td>
                          <td>
                            [[.avg_down_percentage !== undefined ? .avg_down_percentage.toPrecision(3) + '%' : '']]
                          </td>
                          <td>
                            [[.avg_dead_percentage !== undefined ? .avg_dead_percentage.toPrecision(3) + '%' : '']]
                          </td>
                        </tr>
                      [[/with]]
                    [[/with]]
                  [[/each]]
                [[/with]]
              [[/each]]
            </tbody>
          </table>
        [[/with]]
      [[/each]]
    [[/if]]
  [[/with]] -->
