{% load staticfiles %}

[[#with global_stats]]
  <div id="content" class="uk-margin-top">
    <!--

    Encounter Filter Notes:
    Label of the button should add the encounter type to the button text. i.e. If they go to Fractals>MAMA it should say 'MAMA - FRACTALS CM' in the button after they select that .

    -->
      <div class="uk-button-group uk-width-1-1 boundary uk-margin-bottom">
        <div class="uk-inline">
            <button class="uk-button uk-button-large uk-button-nor">Raids (20) <i class="material-icons">keyboard_arrow_down</i></button>
            <div uk-dropdown="mode: click; boundary: .boundary; boundary-align: true; pos: bottom-justify;">
                <div class="uk-width-1 uk-grid">
                    <div class="uk-width-1">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="#">All Raids Encounters (20)</a></li>
                        </ul>
                    </div>
                    <div class="uk-width-1-4@m uk-width-1">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-nav-header">Spirit Vale - <a class="uk-display-inline" href="#">All (4)</a></li>
                            <li>
                                <a href="#">Vale Guardian (2)</a>
                            </li>
                            <li><a href="#">Gorseval (1)</a></li>
                            <li><a href="#">Sabetha (1)</a></li>
                        </ul>
                    </div>
                    <div class="uk-width-1-4@m uk-width-1">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-nav-header">Salvation Pass - <a class="uk-display-inline" href="#">All (4)</a></li>
                            <li><a href="#">Slothasor (2)</a></li>
                            <li><a href="#">Trio (1)</a></li>
                            <li><a href="#">Matthias (1)</a></li>
                        </ul>
                    </div>
                    <div class="uk-width-1-4@m uk-width-1">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-nav-header">Stronghold of the Faithful- <a class="uk-display-inline" href="#">All (4)</a></li>
                            <li><a href="#">Keep Construct (2)</a></li>
                            <li><a href="#">Xera (1)</a></li>
                        </ul>
                    </div>
                    <div class="uk-width-1-4@m uk-width-1">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-nav-header">Stronghold of the Faithful- <a class="uk-display-inline" href="#">All (4)</a></li>
                            <li><a href="#">Cairn (2)</a></li>
                            <li><a href="#">Mursaat Overseer (2)</a></li>
                            <li><a href="#">Samarog (1)</a></li>
                            <li><a href="#">Deimos (1)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-inline">
            <button class="uk-button uk-button-large uk-button-nor  uk-button-primary">Mama - Fractals CM (20) <i class="material-icons">keyboard_arrow_down</i></button>
            <div uk-dropdown="mode: click; boundary: .boundary; boundary-align: true; pos: bottom-justify;">
                <div class="uk-width-1 uk-grid">
                    <div class="uk-width-1">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="#">All Challenge Mode Encounters (5)</a></li>
                        </ul>
                    </div>
                    <div class="uk-width-1-4@m uk-width-1">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-nav-header">Nightmare - <a class="uk-display-inline" href="#">All (4)</a></li>
                            <li class='uk-active'>
                                <a href="#">MAMA (2)</a>
                            </li>
                            <li><a href="#">Siax (1)</a></li>
                            <li><a href="#">Ensolyss (1)</a></li>
                        </ul>
                    </div>
                    <div class="uk-width-1-4@m uk-width-1">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-nav-header">Shattered Observatory - <a class="uk-display-inline" href="#">All (4)</a></li>
                            <li><a href="#">Skovald (2)</a></li>
                            <li><a href="#">Astrilov (1)</a></li>
                            <li><a href="#">Arkk (1)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-inline">
            <button class="uk-button uk-button-large">Golem (20) <i class="material-icons">keyboard_arrow_down</i></button>
            <div uk-dropdown="mode: click; boundary: .boundary; boundary-align: true; pos: bottom-justify;">
                <div class="uk-width-1 uk-grid">
                    <div class="uk-width-1">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="#">All Golem Encounters (5)</a></li>
                        </ul>
                    </div>
                    <div class="uk-width-1-4@m uk-width-1">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-nav-header">Massive - <a class="uk-display-inline" href="#">All (4)</a></li>
                            <li>
                                <a href="#">Massive Standard Kitty Golem (2)</a>
                            </li>
                            <li><a href="#">Massive Average Kitty Golem (1)</a></li>
                            <li><a href="#">Massive Vital Kitty Golem (1)</a></li>
                        </ul>
                    </div>
                    <div class="uk-width-1-4@m uk-width-1">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-nav-header">Normal - <a class="uk-display-inline" href="#">All (4)</a></li>
                            <li><a href="#">Standard Kitty Golem (2)</a></li>
                            <li><a href="#">Average Kitty Golem (1)</a></li>
                            <li><a href="#">Vital Kitty Golem (1)</a></li>
                        </ul>
                    </div>
                    <div class="uk-width-1-4@m uk-width-1">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-nav-header">Special - <a class="uk-display-inline" href="#">All (4)</a></li>
                            <li><a href="#">Tough Kitty Golem (2)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>

  <div class="uk-clearfix">
    <div class="uk-float-left">
      <h2 class="uk-margin-remove">[[page.area_id ? findId(areas, page.area_id).name : "All logs"]]</h2>
      <h3 class="uk-margin-remove">in the [[page.era_id ? findId(eras, page.era_id).name : "most recent"]] Era</h3>
    </div>
    <div class="uk-float-right uk-text-right">
      <select as-ukUpdate id="area-selector" class="uk-select" value='[[page.area_id]]'
              on-change="refresh_page">
          <option value="[[null]]">All</option>
        [[#each areas]]
          <option value='[[id]]'>[[name]]</option>
        [[/each]]
      </select>
      <select as-ukUpdate id="era-selector" class="uk-select" value='[[page.era_id]]'
              on-change="refresh_page">
          <option value="[[null]]">Most recent</option>
        [[#each eras]]
          <option value='[[id]]'>[[name]]</option>
        [[/each]]
      </select>
    </div>

  </div>
      <!-- <p><strong>Disclaimer: The statistics displayed in this report are based off data available within GW2Raidar only, as such it is not a complete representation of the Guild Wars 2 raiding community. Efforts are made to ensure accuracy, however some anomalies may exist. Only successful runs are included and builds with fewer than 10 data points are not shown.</strong></p> -->


      <!-- Grid CSS experiement -->
      <h2 class="uk-heading-line"><span>Full Group</span></h2>
      <div class="r-global-stats-container r-global-group-stats-container">
        <div class="r-global-stats-row r-stats-header uk-visible@l">
          <div>Duration</div>
          <div>Damage Per Second</div>
          <div>Damage Per Second Recieved</div>
        </div>
        <div class="r-global-stats-row">
          <div class="r-buff">
            <div class="r-buff-icon">
              <img src="/static/raidar/img/buff//Quickness.png" alt="quickness">
            </div>
            <div uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Quickness Uptime | 99th Percentile</h6>Average output of 552% quickness uptime" class="r-buff-number r-bg-99 chart-hover">552%
            </div>
            <div uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Quickness Uptime | 90th Percentile</h6>Average output of 472% quickness uptime" class="r-buff-number  r-bg-90 chart-hover">472%
            </div>
            <div uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Quickness Uptime | 50th Percentile</h6>Average output of 335% quickness uptime" class="r-buff-number  r-bg-50 chart-hover">335%
            </div>
          </div>
          <div class="r-global-stats-damage">
            <svg class="chart" xmlns='http://www.w3.org/2000/svg' height="36px" width="100%">
              <!--
              Overlapping charts for Boss and Cleave damage

              First <rect> is the "cleave" damage which as a slight opactity drop to the color. Each are positioned exactly at the same X,Y values but different dynamic widths based on data.

              -->
              <rect class="chart chart-hover" uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Total | 99th Percentile</h6>36432 Damage Per Second" x='0%' y='0' height='8px' width='100%' fill='rgba(123, 9, 201, 0.6)'/>
              <!--
              Second <rect> is full opacity and the same color.

              -->
              <rect class="chart chart-hover" uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Boss | 99th Percentile</h6>32305 Damage Per Second" x='0%' y='0' height='8px' width='85%' fill='rgba(123, 9, 201, 1)'/>
              <rect class="chart chart-hover" uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Total | 90th Percentile</h6>32721 Damage Per Second" x='0%' y='12px' height='8px' width='65%' fill='rgba(191, 50, 109, 0.6)'/>
              <rect class="chart chart-hover" uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Boss | 90th Percentile</h6>30000 Damage Per Second" x='0%' y='12px' height='8px' width='55.9176428058626%' fill='rgba(191, 50, 109, 1)'/>
              <rect class="chart chart-hover" uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Total | 50th Percentile</h6>22352 Damage Per Second" x='0%' y='24px' height='8px' width='48.44386649328132%' fill='rgba(45, 129, 198, 0.6)'/>
              <rect class="chart chart-hover" uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Boss | 50th Percentile</h6>21032 Damage Per Second" x='0%' y='24px' height='8px' width='39.44386649328132%' fill='rgba(45, 129, 198, 1)'/>
              <!--
              Text with some custom adjustments to deal with alignment issues.
              -->
              <text x='100%' y='12px' alignment-baseline="hanging" text-anchor="end" font-family='Source Sans Pro' fill='#FCF1E2'  font-size='11'>36432</text>
              <text x='65%' y='24px' alignment-baseline="hanging" text-anchor="end" font-family='Source Sans Pro' fill='#FCF1E2'  font-size='11'>32721</text>
              <text x='48.44386649328132%' y='36px' alignment-baseline="hanging" text-anchor="end" font-family='Source Sans Pro' fill='#FCF1E2'  font-size='11'>22352</text></svg>
          </div>
          <div class="r-global-stats-damageIn">
            <svg class="chart" xmlns='http://www.w3.org/2000/svg' height="36px" width="100%">
              <!--
              Overlapping charts for Boss and Cleave damage

              First <rect> is the "cleave" damage which as a slight opactity drop to the color. Each are positioned exactly at the same X,Y values but different dynamic widths based on data.

              -->
              <rect class="chart chart-hover" uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Total | 99th Percentile</h6>36432 Damage Per Second" x='0%' y='0' height='8px' width='100%' fill='rgba(123, 9, 201, 0.6)'/>
              <!--
              Second <rect> is full opacity and the same color.

              -->
              <rect class="chart chart-hover" uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Boss | 99th Percentile</h6>32305 Damage Per Second" x='0%' y='0' height='8px' width='85%' fill='rgba(123, 9, 201, 1)'/>
              <rect class="chart chart-hover" uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Total | 90th Percentile</h6>32721 Damage Per Second" x='0%' y='12px' height='8px' width='65%' fill='rgba(191, 50, 109, 0.6)'/>
              <rect class="chart chart-hover" uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Boss | 90th Percentile</h6>30000 Damage Per Second" x='0%' y='12px' height='8px' width='55.9176428058626%' fill='rgba(191, 50, 109, 1)'/>
              <rect class="chart chart-hover" uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Total | 50th Percentile</h6>22352 Damage Per Second" x='0%' y='24px' height='8px' width='48.44386649328132%' fill='rgba(45, 129, 198, 0.6)'/>
              <rect class="chart chart-hover" uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Boss | 50th Percentile</h6>21032 Damage Per Second" x='0%' y='24px' height='8px' width='39.44386649328132%' fill='rgba(45, 129, 198, 1)'/>
              <!--
              Text with some custom adjustments to deal with alignment issues.
              -->
              <text x='100%' y='12px' alignment-baseline="hanging" text-anchor="end" font-family='Source Sans Pro' fill='#FCF1E2'  font-size='11'>36432</text>
              <text x='65%' y='24px' alignment-baseline="hanging" text-anchor="end" font-family='Source Sans Pro' fill='#FCF1E2'  font-size='11'>32721</text>
              <text x='48.44386649328132%' y='36px' alignment-baseline="hanging" text-anchor="end" font-family='Source Sans Pro' fill='#FCF1E2'  font-size='11'>22352</text></svg>
          </div>
        </div>
      </div>

      <h2 class="uk-heading-line"><span>Power</span></h2>

      <div class="r-global-stats-container">
        <div class="r-global-stats-row r-stats-header uk-visible@l">
          <div></div>
          <div>Damage Per Second</div>
          <div>Buffs</div>
        </div>
        <div class="r-global-stats-row">
          <div class='r-spec' uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Average Present Per Ecounter</h6> 0.6">
            <div>
              <h6 class="uk-font-family-secondary uk-text-uppercase uk-margin-remove">Elementalist</h6>
              <h5 class="uk-margin-remove">Weaver</h5>
            </div>
            <img alt="Weaver" src="/static/raidar/img/48px/Weaver_tango_icon_48px.png">
          </div>
          <div class="r-global-stats-damage">
            <h6 class="uk-font-family-secondary uk-text-uppercase uk-hidden@l">Damage Per Second</h6>
            <svg class="chart" xmlns='http://www.w3.org/2000/svg' height="36px" width="100%">
              <!--
              Overlapping charts for Boss and Cleave damage

              First <rect> is the "cleave" damage which as a slight opactity drop to the color. Each are positioned exactly at the same X,Y values but different dynamic widths based on data.

              -->
              <rect class="chart chart-hover" uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Total | 99th Percentile</h6>36432 Damage Per Second" x='0%' y='0' height='8px' width='100%' fill='rgba(123, 9, 201, 0.6)'/>
              <!--
              Second <rect> is full opacity and the same color.

              -->
              <rect class="chart chart-hover" uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Boss | 99th Percentile</h6>32305 Damage Per Second" x='0%' y='0' height='8px' width='85%' fill='rgba(123, 9, 201, 1)'/>
              <rect class="chart chart-hover" uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Total | 90th Percentile</h6>32721 Damage Per Second" x='0%' y='12px' height='8px' width='65%' fill='rgba(191, 50, 109, 0.6)'/>
              <rect class="chart chart-hover" uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Boss | 90th Percentile</h6>30000 Damage Per Second" x='0%' y='12px' height='8px' width='55.9176428058626%' fill='rgba(191, 50, 109, 1)'/>
              <rect class="chart chart-hover" uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Total | 50th Percentile</h6>22352 Damage Per Second" x='0%' y='24px' height='8px' width='48.44386649328132%' fill='rgba(45, 129, 198, 0.6)'/>
              <rect class="chart chart-hover" uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Boss | 50th Percentile</h6>21032 Damage Per Second" x='0%' y='24px' height='8px' width='39.44386649328132%' fill='rgba(45, 129, 198, 1)'/>
              <!--
              Text with some custom adjustments to deal with alignment issues.
              -->
              <text x='100%' y='12px' alignment-baseline="hanging" text-anchor="end" font-family='Source Sans Pro' fill='#FCF1E2'  font-size='11'>36432</text>
              <text x='65%' y='24px' alignment-baseline="hanging" text-anchor="end" font-family='Source Sans Pro' fill='#FCF1E2'  font-size='11'>32721</text>
              <text x='48.44386649328132%' y='36px' alignment-baseline="hanging" text-anchor="end" font-family='Source Sans Pro' fill='#FCF1E2'  font-size='11'>22352</text></svg>
          </div>
          <div class="r-global-stats-buffs r-buff-container">
            <h6 class="uk-font-family-secondary uk-text-uppercase uk-hidden@l uk-margin-remove">Buffs</h6>
            <div class="r-buff">
              <div class="r-buff-icon">
                <img src="/static/raidar/img/buff//Might.png" alt="might">
              </div>
              <div uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Might Stacks | 99th Percentile</h6>Average output of 180 stacks of might" class="r-buff-number chart-hover r-bg-99">180
              </div>
              <div uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Might Stacks | 90th Percentile</h6>Average output of 102 stacks of might" class="r-buff-number chart-hover r-bg-90">102
              </div>
              <div uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Might Stacks | 50th Percentile</h6>Average output of 50 stacks of might" class="r-buff-number chart-hover r-bg-50">50
              </div>
            </div>
            <div class="r-buff">
              <div class="r-buff-icon">
                <img src="/static/raidar/img/buff//Quickness.png" alt="quickness">
              </div>
              <div uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Quickness Uptime | 99th Percentile</h6>Average output of 552% quickness uptime" class="r-buff-number r-bg-99 chart-hover">552%
              </div>
              <div uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Quickness Uptime | 90th Percentile</h6>Average output of 472% quickness uptime" class="r-buff-number  r-bg-90 chart-hover">472%
              </div>
              <div uk-tooltip="pos: bottom-left; delay: 350" title="<h6 class='uk-font-family-secondary uk-text-uppercase uk-margin-remove-bottom'>Quickness Uptime | 50th Percentile</h6>Average output of 335% quickness uptime" class="r-buff-number  r-bg-50 chart-hover">335%
              </div>
            </div>
            <div class="r-buff">
              <div class="r-buff-icon">
                <img src="/static/raidar/img/buff//protection.png" alt="protection">
              </div>
              <div class="r-buff-number chart-hover r-bg-99">30%
              </div>
              <div class="r-buff-number chart-hover r-bg-90">30%
              </div>
              <div class="r-buff-number chart-hover r-bg-50">30%
              </div>
            </div>
            <div class="r-buff">
              <div class="r-buff-icon">
                <img src="/static/raidar/img/buff//fury.png" alt="fury">
              </div>
              <div class="r-buff-number chart-hover r-bg-99">30%
              </div>
              <div class="r-buff-number chart-hover r-bg-90">30%
              </div>
              <div class="r-buff-number chart-hover r-bg-50">30%
              </div>
            </div>
            <div class="r-buff">
              <div class="r-buff-icon">
                <img src="/static/raidar/img/buff//alacrity.png" alt="alacrity">
              </div>
              <div class="r-buff-number chart-hover r-bg-99">30%
              </div>
              <div class="r-buff-number chart-hover r-bg-90">30%
              </div>
              <div class="r-buff-number chart-hover r-bg-50">30%
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Old-->
  [[#with stats]]
    <div  class="uk-overflow-auto uk-margin-remove-bottom">
      <table class="uk-table uk-table-striped uk-table-small">
         <thead>
           <tr>
             <th class="uk-table-shrink"></th>
             <th>Duration (seconds)</th>
             <th>Cleave DPS</th>
             <th>Boss DPS</th>
             <th>DPS Received</th>
           </tr>
         </thead>
         <tbody>
           [[#if group.per_duration]]
           <td>Full group</td>
          [[#each [
              {"percentiles": p_r(group.per_duration), "max": group.max_duration},
              {"percentiles": p(group.per_dps), "max": group.max_dps},
              {"percentiles": p(group.per_dps_boss), "max": group.max_dps_boss},
              {"percentiles": p_r(group.per_dps_received), "max": group.max_dps_received}
            ] ]]
              [[#if percentiles]]
              <td class="uk-margin-remove" uk-tooltip title="99th percentile: [[percentiles[99].toFixed(0)]]<br/>90th percentile: [[percentiles[90].toFixed(0)]]<br/>median: [[percentiles[50].toFixed(0)]]" style="[[p_bar(percentiles, max, buff_image)]];min-width:145px">
              </td>
              [[else]]
              <td></td>
              [[/if]]
            [[/each]]
           [[else]]
              <tr><td colspan="9">Not enough data to display group statistics</td></tr>
           [[/if]]
         </tbody>
      </table>
      [[#each [{archetype: 1}, {archetype: 2}, {archetype: 5}] ]]
      <h3 class="uk-margin-remove-top uk-margin-small-bottom">[[data.archetypes[archetype]]]</h3>
      <div>
        <table class="uk-width-1-1 uk-table uk-table-striped uk-table-small">
          <thead>
            <tr class="">
              <th class="uk-table-shrink">Specialisation</th>
              <th class="uk-width-1-6">Cleave DPS</th>
              <th class="uk-width-1-6">Boss DPS</th>
              <th class="uk-table-expand" colspan="5">Outgoing buffs</th>
              <th class="uk-table-shrink">Popularity</th>
            </tr>
          </thead>
          <tbody>
            [[#each flattenStats(build)]]
              [[#with {lineStats: build[professionId][eliteId][archetypeId]}]]
                [[#if professionId != 'All' && eliteId != 'All' && archetypeId == archetype]]
                  [[#with {buffs: highestBuffs(build[professionId][eliteId][archetypeId].buffs_out)}]]
                  <tr class="uk-margin-remove" >
                    <td>
                      <img class="uk-margin-remove" alt="[[data.specialisations[professionId][eliteId]]]" src="{% static 'raidar/img/20px/' %}/[[data.specialisations[professionId][eliteId]]]_tango_icon_20px.png" />
                      [[professionId === 'All' ? 'All' : data.specialisations[professionId][eliteId]]]
                    </td>
                    [[#each [
                      {"percentiles": p(lineStats.per_dps), "max": individual.max_dps},
                      {"percentiles": boss_dps_percentiles, "max": individual.max_dps_boss},
                      buffs[0],
                      buffs[1],
                      buffs[2] ,
                      buffs[3],
                      buffs[4]
                    ] ]]
                      [[#if percentiles]]
                      <td class="uk-margin-remove" uk-tooltip title="99th percentile: [[percentiles[99].toFixed(0)]]<br/>90th percentile: [[percentiles[90].toFixed(0)]]<br/>median: [[percentiles[50].toFixed(0)]]" style="[[p_bar(percentiles, max, buff_image)]];min-width:[[buff_image ? 80 : 145]]px">
                        [[#if buff_image]]
                          <img class="uk-float-left" src="{% static 'raidar/img/buff/' %}/[[buff_image]].png" alt="[[buff_name]]"/>
                        [[/if]]
                      </td>
                      [[else]]
                      <td></td>
                      [[/if]]
                    [[/each]]
                    <td>[[(lineStats.count/group.count).toFixed(2)]]</td>
                  </tr>
                  [[/with]]
                [[/if]]
              [[/with]]
            [[else]]
              <tr><td colspan="9">Not enough data to display for [[data.archetypes[archetype]]] specialisations</td></tr>
            [[/each]]
          </tbody>
        </table>
        </div>
      [[/each]]
    </div>
  [[/with]]
  </div>
[[/with]]
