{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GW2 Raidar</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A Guild Wars 2 log parsing site to upload ArcDPS combat logs from high end PvE content such as Raids and Challenge Mote Fractals">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://npmcdn.com/tags-input@1.1.1/tags-input.js"></script>
    <link href="https://npmcdn.com/tags-input@1.1.1/tags-input.css" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ractive/1.0.0-build-9/ractive.min.js"
      integrity="sha256-tV9zrfcixE5yg4K2R/dTFr5mXOmVLNwkGryU5OAGM+Q="
      crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.16/css/uikit.min.css"
      integrity="sha256-Y26f+YUup4fXzkyNHh6TYAc5jwy5abdgKSx3NBNE0AQ="
      crossorigin="anonymous" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.16/js/uikit.min.js"
      integrity="sha256-HM5Ln23ZwUKUp2XJmTYmSVWc7Ymwdbt8YyQX/k3fsY4="
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.16/js/uikit-icons.min.js"
      integrity="sha256-IwFu/0hq7CewRpF0Uw1qW08A8M6/c72km5+VAegaWX8="
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"
      integrity="sha256-UGwvyUFH6Qqn0PSyQVw4q3vIX0wV1miKTracNJzAWPc="
      crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Raleway:bold" rel="stylesheet">
    <link href="{% static 'raidar/style.css' %}" rel="stylesheet">
    <script>
      window.baseURL = "{% url 'index' %}";
      window.raidar_data = {{ userprops|safe }};

      if (window.raidar_data.ga_property_id) {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', window.raidar_data.ga_property_id, 'auto');
        ga('send', 'pageview');
      }
    </script>


    <script id="template" type="text/ractive">
      <div class="main uk-height-viewport uk-flex uk-flex-column">
        {# Logo #}
        <header class="uk-grid">
          <div class="uk-width-1-1">
            <h1 class="uk-heading-large uk-padding-small uk-light uk-background-primary">GW2 Raidar</h1>
          </div>
        </header>

        {% include 'raidar/navbar.html' %}

        {# content #}
        <div class="uk-flex-1">
          [[#if loading]]

            <center class="uk-margin-large-top">
              <div uk-spinner></div>
            </center>

          [[elseif page.name == "encounter"]]

            {% include 'raidar/encounter.html' %}

          [[elseif page.name == "info-help"]]

            {% include 'raidar/info_help.html' %}

          [[elseif page.name == "info-releasenotes"]]

            {% include 'raidar/info_releasenotes.html' %}

          [[elseif page.name == "info-contact"]]

            {% include 'raidar/info_contact.html' %}

          [[elseif page.name == "info-about"]]

            {% include 'raidar/info_about.html' %}

          [[elseif username]]

            [[#if page.name == "encounters"]]

              [[#if encounters.length]]
                {% include 'raidar/encounters.html' %}
              [[else]]
                <p>
                  Drag and drop evtc files to this window to upload.
                </p>
              [[/if]]

            [[elseif page.name == "profile"]]

              {% include 'raidar/profile.html' %}

            [[elseif page.name == "uploads"]]

              {% include 'raidar/uploads.html' %}

            [[elseif page.name == "account"]]

              {% include 'raidar/account.html' %}

            [[/if]]

          [[else]]{# username #}

            [[#if page.name == "login"]]

              <form class="uk-form-stacked uk-padding-large uk-text-center">
                <div class="uk-margin">
                  <input id="login_username" class="uk-input uk-form-width-medium" value="[[auth.input.username]]" placeholder="Username (or Email)" required>
                </div>
                <div class="uk-margin">
                  <input id="login_password" class="uk-input uk-form-width-medium" value="[[auth.input.password]]" placeholder="Password" type="password" required>
                </div>
                <div class="uk-margin">
                  <button id="login_submit" class="uk-button uk-button-default" on-click="auth_login">Login</button><br>
                </div>
              </form>

            [[elseif page.name == "register"]]

              <form class="uk-form-stacked uk-padding-large uk-text-center">
                <div class="uk-margin">
                  <input id="register_username" class="uk-input uk-form-width-medium" value="[[auth.input.username]]" placeholder="Username" pattern="[\w.@+-]+" required on-input="@node.setCustomValidity(''), @node.validity.patternMismatch && @node.setCustomValidity('Please use letters, numbers, and ._+-@')">
                </div>
                <div class="uk-margin">
                  <input id="register_email" class="uk-input uk-form-width-medium" value="[[auth.input.email]]" type="email" placeholder="Email" required>
                </div>
                <div class="uk-margin">
                  <input id="register_password" class="uk-input uk-form-width-medium" value="[[auth.input.password]]" placeholder="Password" type="password" required pattern=".{8,}" on-input="@this.set('auth.passpattern', @node.value.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&')), @node.setCustomValidity(''), @node.validity.patternMismatch && @node.setCustomValidity('Please use at least 8 characters')">
                </div>
                <div class="uk-margin">
                  <input id="register_password2" class="uk-input uk-form-width-medium" value="[[auth.input.password2]]" placeholder="Again" type="password" required on-input="@node.setCustomValidity(''), @node.validity.patternMismatch && @node.setCustomValidity('Please make sure the password fields match')">
                </div>
                <div class="uk-margin">
                  <div class="uk-inline">
                    <a class="uk-form-icon uk-form-icon-flip" href="https://account.arena.net/applications" uk-icon="icon: link" target="gw2apps"></a>
                    <input id="register_api_key" class="uk-input uk-form-width-medium" value="[[auth.input.api_key]]" placeholder="'gw2raidar' API key" autocomplete="off" required pattern="^[0-9A-F]{8}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{20}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{12}$" on-input="@node.setCustomValidity(''), @node.validity.patternMismatch && @node.setCustomValidity('Please paste a valid GW2 API key')">
                  </div>
                </div>
                <div class="uk-margin">
                  <button id="register_submit" class="uk-button uk-button-default" on-click="auth_register" >Register</button><br>
                </div>
              </form>

              <p>
                For security reasons, please make sure that you use an API key specifically generated for GW2Raidar: the key needs to contain "<em>GW2Raidar</em>" (case insensitive) in its name. For example, here are some valid API key names: "The key for GW2Raidar", "http://gw2raidar.com/", "GW2Raidar".
              </p>

            [[elseif page.name == "reset_pw"]]

              <form class="uk-form-stacked uk-padding-large uk-text-center">
                <div class="uk-margin">
                  <input id="reset_pw_email" class="uk-input uk-form-width-medium" value="[[auth.input.email]]" placeholder="Email" type="email" required>
                </div>
                <div class="uk-margin">
                  <button id="reset_pw_submit" class="uk-button uk-button-default" on-click="auth_reset_pw">Reset password</button><br>
                </div>
              </form>

            [[else]]

              TODO
              {#% include 'raidar/intro.html' %#}

            [[/if]]

          [[/if]]{# username #}
        </div>

        <footer class="uk-heading uk-padding-small uk-light uk-background-secondary">
          GW2Raidar is not sponsored by or affiliated with NCsoft or ArenaNet. All associated logos & designs not openly released as public assets are trademarks or registered trademarks of NCsoft Corporation.
        </footer>
      </div>
    </script>
  </head>
  <body class="uk-height-viewport">
    {% csrf_token %}
    <div id="container" class="uk-height-viewport">
    </div>
    <script src="{% static 'raidar/script.js' %}"></script>
  </body>
</html>
