{% load staticfiles %}
<h2>What is is GW2 Raidar?</h2>

<p>With the advent and increased usage of DPS meters, there have been a number of different parsers released to analyse, in detail, combat statistics and logs for post review.</p>

<p>While current encounter reports are great, they currently lack one thing, context. GW2 Raidar’s approach to log parsing is slightly different. By retaining high level data about uploaded encounters, GW2 Raidar will allow you compare your individual and squad performance against everyone else’s as an average which will allow you to further analyse your post fight logs.</p>

<p>With GW2 Raidar you can:</p>

<ul>
  <li>See at a top level your performance and your squad’s performance at a glance</li>
  <li>See how your and your squads metrics compare to current averages</li>
  <li>See what the top group metrics and what professions are most popular for each encounter</li>
  <li>Upload 1 log per encounter and have everyone in the squad access the encounter automatically via their GW2 Raidar account</li>
  <li>Link multiple Guild Wars 2 accounts to a single GW2 Raidar account for a consolidated single view across all your raid characters</li>
  <li>See your personal raid statistics as a whole</li>
  <li>Redownload previous encounter log files to parse through another website or application.</li>
</ul>

<h2>Getting Started</h2>

<p>Getting started is easy. Simply create a new account on the website. You will need to provide in addition to your desired login credentials, your Guild Wars 2 API Key to confirm your ownership of a Guild Wars 2 Account.</p>

<p>GW2 Raidar will automatically get your GW2 account name and associated characters. Any encounters that have been uploaded with your GW2 account in them will show up straight away in your encounters page. </p>

<h2>Uploading Logs</h2>

<p>To upload your logs, simply drag and drop your log files into the browser window. GW2 Raidar supports both uncompressed and compressed logs. You can access results of each log by clicking on the name in the encounter list. </p>

<p>Due to the need to update global statistics, GW2 Raidar utilises a batch processing system. As such, analysing may take a few minutes, however once a log is uploaded, it will always be analysed, even if you leave the website! </p>

<p>GW2 Raidar</p>

<h2>Interpreting the numbers</h2>

<p>On each Encounter page, you’ll be shown a few different sections of statistics as per below. For all statistics (with the exception of Party stats), the following colour codes apply:</p>

<ul>
  <li>Red to yellow to green: Visually compares your figure with global average. Red = Worse than average, Yellow = On par, Green = Better than average</li>
  <li>Purple: Visually represent the current average</li>
</ul>

<h3>Squad</h3>

<img src="{% static 'raidar/img/intro/squad.png' %}"/>
<p>Shows total squad values. The first number denotes your squad’s totals with the second number denoting the current global average</p>

<h3>Party</h3>

<img src="{% static 'raidar/img/intro/party.png' %}"/>
<p>Allows you compare individual party information to see performance of each sub group. These have no averages. </p>

<h3>Individual</h3>

<img src="{% static 'raidar/img/intro/individual.png' %}"/>
<p>Shows individual values. The first number denotes individual values with the second number denoting the current global average. All averages are based on the detected archetype e.g. a Support Druid will have different averages compared to a Condi Druid.</p>

<p>Individual archetypes are denoted by the icon to the left of the profession icon.</p>

<h2>FAQ</h2>
<h3>How do I get GW2 API Key?</h3>

<ol>
  <li>Go to <a target="arenanet account applications" href="https://account.arena.net/applications">ArenaNet Account Applications</a> and authenticate</li>
  <li>Click the "New Key" button</li>
  <li>Name your new API key sensibly (e.g. "GW2Raidar")</li>
  <li>GW2 Raidar only requires "account" permission</li>
  <li>Click the "Create API Key" button</li>
  <li>Your API key will now show; copy it, and paste it into the GW2 Raidar <a href="{% url 'register' %}" on-click="@this.page('register')">Register</a> form</li>
</ol>

<h3>It says my Account is already registered to another user</h3>
<p>This means that an API key associated with your account has been used already by another GW2 Raidar user to link your GW2 account. You will need to remove the API key in question (shown in the error message) from your GW2 Account, and possibly create a new API key, in order to prove your ownership of that GW2 account and register your GW2 Raidar account.</p>

<h3>What combat logs does GW2 Raider Support?</h3>
<p>Combat logs generated by <a href="https://www.deltaconnected.com/arcdps/">arcdps</a> (both uncompressed and compressed).</p>
