<h2>Donate</h2>
<p>As with any website, hosting and server costs are always at play. If you love this site, why not consider donating? A one off donation of a dollar or ten dollars is a huge help in providing this website for free and ad-free to the community.</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="3KAQWB87RUXZ2">
  <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
</form>

<h2>The Team</h2>

<h3>Big Bossy Boots</h3>
<ul>
  <li>Name: Merforga</li>
  <li>In Game: Merforga.4731</li>
  <li>Reddit: <a href="https://www.reddit.com/message/compose?to=merforga1&subject=GW2R" target="_blank">u/merforga1</a></li>
  <li>Email: <a href="mailto:admin@gw2raidar.com" target="_blank">admin@gw2raidar.com</a></li>
  <li>Skills: Bossing people around, making unrealistic demands, financier</li>
</ul>

<h3>Head Code Monkey</h3>
<ul>
  <li>Name: Delight/Amadan</li>
  <li>In Game: AmadanMath.2409</li>
  <li>Reddit: <a href="https://www.reddit.com/message/compose?to=Amadan&subject=GW2R" target="_blank">u/Amadan</a></li>
  <li>Skills: Goofs up a lot, releases things into the wild</li>
</ul>

<h3>Code Monkey 1</h3>
<ul>
  <li>Name: Toeofdoom / Veranaday</li>
  <li>In Game: toeofdoom.6152</li>
  <li>Reddit: <a href="https://www.reddit.com/message/compose?to=Toeofdoom&subject=GW2R" target="_blank">u/Toeofdoom</a></li>
  <li>Skills: Invents and builds data engines</li>
</ul>

<h3>Code Monkey 2</h3>
<ul>
  <li>Name: Divides</li>
  <li>In Game: immortius.4537</li>
  <li>Reddit: <a href="https://www.reddit.com/message/compose?to=Immortius&subject=GW2R" target="_blank">u/Immortius</a></li>
  <li>Skills: Makes funnies, proponent of experimental deaths for data gathering purposes, developer of <a href="http://immortius.net.au/guaranteed-wardrobe-unlock/">Guaranteed Wardrobe Unlock Analyser</a></li>
</ul>

<h3>Starving UI Artist</h3>
<ul>
  <li>Name: Pandabro / Andrew</li>
  <li>In Game: pandabro.8745</li>
  <li>Reddit: <a href="https://www.reddit.com/message/compose?to=ajrdesign&subject=GW2R" target="_blank">u/ajrdesign</a></li>
  <li>Skills: Trying to make the complex simpler, make things look pretty</li>
</ul>

<h2>Legalese Stuff</h2>
<p>GW2 Raidar uses a combination of assets from the Official Guild Wars 2 website (guildwars2.com) as well as the Guild Wars 2 Wiki (wiki.guildwars2.com). Usage of assets and copyright fall under their respective website license agreements as per below</p>

<p>Content provided by individual contributors, which is original and does not infringe upon the intellectual property rights of any third party, is available under the GNU Free Documentation License 1.2 (GFDL).</p>

<p>Content obtained from Guild Wars 2, its web sites, manuals and guides, concept art and renderings, press and fansite kits, and other such copyrighted material, may also be available from this site. All rights, title and interest in and to such content remains with ArenaNet or NCsoft, as applicable, and such content is not licensed pursuant to the GFDL</p>

