<h2>The Team</h2>

<h3>Big Bossy Boots</h3>
<ul>
  <li>Name: Merforga</li>
  <li>In Game: Merforga.4731</li>
  <li>Reddit: <a href="https://www.reddit.com/message/compose?to=merforga1&subject=GW2R">u/merforga1</a></li>
  <li>Email: <a href="mailto:admin@gw2raidar.com">admin@gw2raidar.com</a></li>
  <li>Skills: Bossing people around, making unrealistic demands, financier</li>
</ul>

<h3>Head Code Monkey</h3>
<ul>
  <li>Name: Delight/Amadan</li>
  <li>In Game:AmadanMath.2409</li>
  <li>Reddit: <a href="https://www.reddit.com/message/compose?to=Amadan&subject=GW2R">u/Amadan</a></li>
  <li>Skills: Goofs up a lot, releases things into the wild</li>
</ul>

<h3>Code Monkey 1</h3>
<ul>
  <li>Name: Toeofdoom / Veranaday</li>
  <li>In Game: toeofdoom.6152</li>
  <li>Skills: Invents and builds data engines</li>
</ul>

<h3>Code Monkey 2</h3>
<ul>
  <li>Name: Divides</li>
  <li>In Game: immortius.4537</li>
  <li>Reddit: <a href="https://www.reddit.com/message/compose?to=Immortius&subject=GW2R">u/Immortius</a></li>
  <li>Skills: Makes funnies, proponent of experimental deaths for data gathering purposes, developer of <a href="http://immortius.net.au/guaranteed-wardrobe-unlock/"> Guaranteed Wardrobe Unlock Analyser </a></li>
</ul>

<h2>Legalese Stuff</h2>
<p>GW2 Raidar uses a combination of assets from the Official Guild Wars 2 website (guildwars2.com) as well as the Guild Wars 2 Wiki (wiki.guildwars2.com). Usage of assets and copyright fall under their respective website license agreements as per below</p>

<p>Content provided by individual contributors, which is original and does not infringe upon the intellectual property rights of any third party, is available under the GNU Free Documentation License 1.2 (GFDL).</p>

<p>Content obtained from Guild Wars 2, its web sites, manuals and guides, concept art and renderings, press and fansite kits, and other such copyrighted material, may also be available from this site. All rights, title and interest in and to such content remains with ArenaNet or NCsoft, as applicable, and such content is not licensed pursuant to the GFDL</p>

