{% load staticfiles %}
<div class="uk-grid uk-grid-item-match">
  <div class="uk-button-group uk-flex-wrap uk-width-1-1 uk-width-auto@s">
    <a href="#" class="uk-button uk-inline uk-active uk-width-auto@s uk-width-1-2">Raids</a><a href="#" class="uk-button uk-inline uk-width-auto@s uk-width-1-2">CM Fractals</a>
  </div>
  <div class="r-toggle uk-font-family-secondary uk-text-small uk-text-uppercase uk-width-auto@s uk-margin-small-top uk-margin-small-bottom">
     <div uk-form-custom="target: > * > span.time">
         <select>
             <option value="1" default>This week</option>
             <option disabled>──────────</option>
             <optgroup label="2018">
               <option value="2">1/24-2/1</option>
               <option value="2">1/17-24</option>
               <option value="3">1/9-16</option>
               <option value="4">1/2-8</option>
             </optgroup>
             <optgroup label="2017">
               <option value="2">1/24-2/1</option>
               <option value="2">1/17-24</option>
               <option value="3">1/9-16</option>
               <option value="4">1/2-8</option>
             </optgroup>
         </select>
         <span>
             <span class="uk-active">Fastest Kills</span> <span class="uk-active time"></span> <i class="material-icons">keyboard_arrow_down</i> |
         </span>
     </div>
     <div uk-form-custom="target: > * > span.era">
         <select>
             <option value="1" default>This Era</option>
             <option disabled>──────────</option>
             <option value="4">Prehistoric</option>
         </select>
         <span>
             <span class="era"></span> <i class="material-icons">keyboard_arrow_down</i>
         </span>
     </div>
  </div>

</div>
<!-- Note: The toggle system doesn't really work the way I want but I couldn't find a better way to mock it up. I'd like to have it so that clicking on the default "encounter" element adds the .expanded class to the whole element and shows the "close" icon, ideally clicking on that would close that element. Currently clicking anywhere on the "expanded" element will close it, which isn't ideal because we want people to be able to click through to encounters. -->
<div class="r-leaderboard-wing">
  <!-- Switch for CM included only for those wings that have CM. Otherwise just have text. -->
  <div class="r-toggle uk-h3 uk-font-family-secondary r-leaderboard-heading uk-margin-remove uk-text-uppercase">
    <a href="" class="uk-active">Spirit Vale</a> | <a href="">CM</a>
  </div>
  <div class="r-leaderboard-encounter" class-expanded="VG" on-click="toggle('VG')">
    <img src="/static/raidar/img/icon/Vale Guardian.png" alt="">
    <h2 class="uk-margin-remove-bottom ">Vale Guardian</h2>
    <a class="uk-h3 uk-margin-remove" class-uk-invisible="!VG"><i  class="material-icons">close</i></a>
    <div class="r-leaderboard-row">
      <div class="r-damage">
        <svg class="chart" width="100%" xmlns='http://www.w3.org/2000/svg' height="100%" xml:space="preserve" preserveAspectRatio="xMinYMax meet">
          <!-- Same as our other rect graphs -->
          <rect class="chart total r-bg-101"  x='0' y='18px' height='16px' width='100%' opacity='0.3' />
          <rect class="chart boss r-bg-101" x='0' y='18px' height='16px' width='80%'/>

          <!-- Ranking -->
          <text class="rank" x="0" y="28px" dominant-baseline="middle" text-anchor="begin" font-family="Source Sans Pro" font-weight="900" font-size="80">1</text>

          <!-- Encounter Duration -->
          <text class="duration" x="48px" y="8px" dominant-baseline="middle" text-anchor="begin" font-family="Source Sans Pro" font-weight="900" fill="rgba(255, 255, 255, 0.8)" font-size="20">10m 32.53s</text>

          <!-- Encounter DPS (Boss) Total like it is on Global Stats -->
          <text class="dps" x="48px" y="27px" dominant-baseline="middle" text-anchor="begin" font-family="Source Code Pro" fill="#15141e" font-weight="400" font-size="12">(62,320) 85,321 DPS</text>
        </svg>
      </div>
      <div class="r-buffs">
        <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Might.png" alt="Might" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Fury.png" alt="Fury" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Quickness.png" alt="Quickness" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Alacrity.png" alt="Alacrity" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
     </div>
      <div class="r-composition">
        <img alt="Weaver" src="/static/raidar/img/48px/Weaver_tango_icon_48px.png">
        <img alt="Reaper" src="/static/raidar/img/48px/Reaper_tango_icon_48px.png">
        <img alt="Scourge" src="/static/raidar/img/48px/Scourge_tango_icon_48px.png">
        <img alt="Druid" src="/static/raidar/img/48px/Druid_tango_icon_48px.png">
        <img alt="Druid" src="/static/raidar/img/48px/Druid_tango_icon_48px.png">
        <img alt="Chronomancer" src="/static/raidar/img/48px/Chronomancer_tango_icon_48px.png">
        <img alt="Chronomancer" src="/static/raidar/img/48px/Chronomancer_tango_icon_48px.png">
        <img alt="Warrior" src="/static/raidar/img/48px/Warrior_tango_icon_48px.png">
        <img alt="Firebrand" src="/static/raidar/img/48px/Firebrand_tango_icon_48px.png">
        <img alt="Herald" src="/static/raidar/img/48px/Herald_tango_icon_48px.png">
      </div>
    </div>
    <div class="r-leaderboard-row">
      <div class="r-damage">
        <svg class="chart" width="100%" xmlns='http://www.w3.org/2000/svg' height="100%" xml:space="preserve" preserveAspectRatio="xMinYMax meet">
          <!-- Same as our other rect graphs -->
          <rect class="chart total r-bg-101"  x='0' y='18px' height='16px' width='100%' opacity='0.3' />
          <rect class="chart boss r-bg-101" x='0' y='18px' height='16px' width='80%'/>

          <!-- Ranking -->
          <text class="rank" x="0" y="28px" dominant-baseline="middle" text-anchor="begin" font-family="Source Sans Pro" font-weight="900" font-size="80">2</text>

          <!-- Encounter Duration -->
          <text class="duration" x="48px" y="8px" dominant-baseline="middle" text-anchor="begin" font-family="Source Sans Pro" font-weight="900" fill="rgba(255, 255, 255, 0.8)" font-size="20">10m 32.53s</text>

          <!-- Encounter DPS (Boss) Total like it is on Global Stats -->
          <text class="dps" x="48px" y="27px" dominant-baseline="middle" text-anchor="begin" font-family="Source Code Pro" fill="#15141e" font-weight="400" font-size="12">(62,320) 85,321 DPS</text>
        </svg>
      </div>
      <div class="r-buffs">
        <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Might.png" alt="Might" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Fury.png" alt="Fury" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Quickness.png" alt="Quickness" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Alacrity.png" alt="Alacrity" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
     </div>
      <div class="r-composition">
        <img alt="Weaver" src="/static/raidar/img/48px/Weaver_tango_icon_48px.png">
        <img alt="Reaper" src="/static/raidar/img/48px/Reaper_tango_icon_48px.png">
        <img alt="Scourge" src="/static/raidar/img/48px/Scourge_tango_icon_48px.png">
        <img alt="Druid" src="/static/raidar/img/48px/Druid_tango_icon_48px.png">
        <img alt="Druid" src="/static/raidar/img/48px/Druid_tango_icon_48px.png">
        <img alt="Chronomancer" src="/static/raidar/img/48px/Chronomancer_tango_icon_48px.png">
        <img alt="Chronomancer" src="/static/raidar/img/48px/Chronomancer_tango_icon_48px.png">
        <img alt="Warrior" src="/static/raidar/img/48px/Warrior_tango_icon_48px.png">
        <img alt="Firebrand" src="/static/raidar/img/48px/Firebrand_tango_icon_48px.png">
        <img alt="Herald" src="/static/raidar/img/48px/Herald_tango_icon_48px.png">
      </div>
    </div>
    <div class="r-leaderboard-row">
      <div class="r-damage">
        <svg class="chart" width="100%" xmlns='http://www.w3.org/2000/svg' height="100%" xml:space="preserve" preserveAspectRatio="xMinYMax meet">
          <!-- Same as our other rect graphs -->
          <rect class="chart total r-bg-101"  x='0' y='18px' height='16px' width='100%' opacity='0.3' />
          <rect class="chart boss r-bg-101" x='0' y='18px' height='16px' width='80%'/>

          <!-- Ranking -->
          <text class="rank" x="0" y="28px" dominant-baseline="middle" text-anchor="begin" font-family="Source Sans Pro" font-weight="900" font-size="80">3</text>

          <!-- Encounter Duration -->
          <text class="duration" x="48px" y="8px" dominant-baseline="middle" text-anchor="begin" font-family="Source Sans Pro" font-weight="900" fill="rgba(255, 255, 255, 0.8)" font-size="20">10m 32.53s</text>

          <!-- Encounter DPS (Boss) Total like it is on Global Stats -->
          <text class="dps" x="48px" y="27px" dominant-baseline="middle" text-anchor="begin" font-family="Source Code Pro" fill="#15141e" font-weight="400" font-size="12">(62,320) 85,321 DPS</text>
        </svg>
      </div>
      <div class="r-buffs">
        <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Might.png" alt="Might" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Fury.png" alt="Fury" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Quickness.png" alt="Quickness" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Alacrity.png" alt="Alacrity" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
     </div>
      <div class="r-composition">
        <img alt="Weaver" src="/static/raidar/img/48px/Weaver_tango_icon_48px.png">
        <img alt="Reaper" src="/static/raidar/img/48px/Reaper_tango_icon_48px.png">
        <img alt="Scourge" src="/static/raidar/img/48px/Scourge_tango_icon_48px.png">
        <img alt="Druid" src="/static/raidar/img/48px/Druid_tango_icon_48px.png">
        <img alt="Druid" src="/static/raidar/img/48px/Druid_tango_icon_48px.png">
        <img alt="Chronomancer" src="/static/raidar/img/48px/Chronomancer_tango_icon_48px.png">
        <img alt="Chronomancer" src="/static/raidar/img/48px/Chronomancer_tango_icon_48px.png">
        <img alt="Warrior" src="/static/raidar/img/48px/Warrior_tango_icon_48px.png">
        <img alt="Firebrand" src="/static/raidar/img/48px/Firebrand_tango_icon_48px.png">
        <img alt="Herald" src="/static/raidar/img/48px/Herald_tango_icon_48px.png">
      </div>
    </div>
    <div class="r-leaderboard-row">
      <div class="r-damage">
        <svg class="chart" width="100%" xmlns='http://www.w3.org/2000/svg' height="100%" xml:space="preserve" preserveAspectRatio="xMinYMax meet">
          <!-- Same as our other rect graphs -->
          <rect class="chart total r-bg-101"  x='0' y='18px' height='16px' width='100%' opacity='0.3' />
          <rect class="chart boss r-bg-101" x='0' y='18px' height='16px' width='80%'/>

          <!-- Ranking -->
          <text class="rank" x="0" y="28px" dominant-baseline="middle" text-anchor="begin" font-family="Source Sans Pro" font-weight="900" font-size="80">4</text>

          <!-- Encounter Duration -->
          <text class="duration" x="48px" y="8px" dominant-baseline="middle" text-anchor="begin" font-family="Source Sans Pro" font-weight="900" fill="rgba(255, 255, 255, 0.8)" font-size="20">10m 32.53s</text>

          <!-- Encounter DPS (Boss) Total like it is on Global Stats -->
          <text class="dps" x="48px" y="27px" dominant-baseline="middle" text-anchor="begin" font-family="Source Code Pro" fill="#15141e" font-weight="400" font-size="12">(62,320) 85,321 DPS</text>
        </svg>
      </div>
      <div class="r-buffs">
        <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Might.png" alt="Might" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Fury.png" alt="Fury" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Quickness.png" alt="Quickness" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Alacrity.png" alt="Alacrity" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
     </div>
      <div class="r-composition">
        <img alt="Weaver" src="/static/raidar/img/48px/Weaver_tango_icon_48px.png">
        <img alt="Reaper" src="/static/raidar/img/48px/Reaper_tango_icon_48px.png">
        <img alt="Scourge" src="/static/raidar/img/48px/Scourge_tango_icon_48px.png">
        <img alt="Druid" src="/static/raidar/img/48px/Druid_tango_icon_48px.png">
        <img alt="Druid" src="/static/raidar/img/48px/Druid_tango_icon_48px.png">
        <img alt="Chronomancer" src="/static/raidar/img/48px/Chronomancer_tango_icon_48px.png">
        <img alt="Chronomancer" src="/static/raidar/img/48px/Chronomancer_tango_icon_48px.png">
        <img alt="Warrior" src="/static/raidar/img/48px/Warrior_tango_icon_48px.png">
        <img alt="Firebrand" src="/static/raidar/img/48px/Firebrand_tango_icon_48px.png">
        <img alt="Herald" src="/static/raidar/img/48px/Herald_tango_icon_48px.png">
      </div>
    </div>
    <div class="r-leaderboard-row">
      <div class="r-damage">
        <svg class="chart" width="100%" xmlns='http://www.w3.org/2000/svg' height="100%" xml:space="preserve" preserveAspectRatio="xMinYMax meet">
          <!-- Same as our other rect graphs -->
          <rect class="chart total r-bg-101"  x='0' y='18px' height='16px' width='100%' opacity='0.3' />
          <rect class="chart boss r-bg-101" x='0' y='18px' height='16px' width='80%'/>

          <!-- Ranking -->
          <text class="rank" x="0" y="28px" dominant-baseline="middle" text-anchor="begin" font-family="Source Sans Pro" font-weight="900" font-size="80">5</text>

          <!-- Encounter Duration -->
          <text class="duration" x="48px" y="8px" dominant-baseline="middle" text-anchor="begin" font-family="Source Sans Pro" font-weight="900" fill="rgba(255, 255, 255, 0.8)" font-size="20">10m 32.53s</text>

          <!-- Encounter DPS (Boss) Total like it is on Global Stats -->
          <text class="dps" x="48px" y="27px" dominant-baseline="middle" text-anchor="begin" font-family="Source Code Pro" fill="#15141e" font-weight="400" font-size="12">(62,320) 85,321 DPS</text>
        </svg>
      </div>
      <div class="r-buffs">
        <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Might.png" alt="Might" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Fury.png" alt="Fury" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Quickness.png" alt="Quickness" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Alacrity.png" alt="Alacrity" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
     </div>
      <div class="r-composition">
        <img alt="Weaver" src="/static/raidar/img/48px/Weaver_tango_icon_48px.png">
        <img alt="Reaper" src="/static/raidar/img/48px/Reaper_tango_icon_48px.png">
        <img alt="Scourge" src="/static/raidar/img/48px/Scourge_tango_icon_48px.png">
        <img alt="Druid" src="/static/raidar/img/48px/Druid_tango_icon_48px.png">
        <img alt="Druid" src="/static/raidar/img/48px/Druid_tango_icon_48px.png">
        <img alt="Chronomancer" src="/static/raidar/img/48px/Chronomancer_tango_icon_48px.png">
        <img alt="Chronomancer" src="/static/raidar/img/48px/Chronomancer_tango_icon_48px.png">
        <img alt="Warrior" src="/static/raidar/img/48px/Warrior_tango_icon_48px.png">
        <img alt="Firebrand" src="/static/raidar/img/48px/Firebrand_tango_icon_48px.png">
        <img alt="Herald" src="/static/raidar/img/48px/Herald_tango_icon_48px.png">
      </div>
    </div>
    <div class="r-leaderboard-row">
      <div class="r-damage">
        <svg class="chart" width="100%" xmlns='http://www.w3.org/2000/svg' height="100%" xml:space="preserve" preserveAspectRatio="xMinYMax meet">
          <!-- Same as our other rect graphs -->
          <rect class="chart total r-bg-101"  x='0' y='18px' height='16px' width='100%' opacity='0.3' />
          <rect class="chart boss r-bg-101" x='0' y='18px' height='16px' width='80%'/>

          <!-- Ranking -->
          <text class="rank" x="0" y="28px" dominant-baseline="middle" text-anchor="begin" font-family="Source Sans Pro" font-weight="900" font-size="80">6</text>

          <!-- Encounter Duration -->
          <text class="duration" x="48px" y="8px" dominant-baseline="middle" text-anchor="begin" font-family="Source Sans Pro" font-weight="900" fill="rgba(255, 255, 255, 0.8)" font-size="20">10m 32.53s</text>

          <!-- Encounter DPS (Boss) Total like it is on Global Stats -->
          <text class="dps" x="48px" y="27px" dominant-baseline="middle" text-anchor="begin" font-family="Source Code Pro" fill="#15141e" font-weight="400" font-size="12">(62,320) 85,321 DPS</text>
        </svg>
      </div>
      <div class="r-buffs">
        <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Might.png" alt="Might" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Fury.png" alt="Fury" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Quickness.png" alt="Quickness" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Alacrity.png" alt="Alacrity" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
     </div>
      <div class="r-composition">
        <img alt="Weaver" src="/static/raidar/img/48px/Weaver_tango_icon_48px.png">
        <img alt="Reaper" src="/static/raidar/img/48px/Reaper_tango_icon_48px.png">
        <img alt="Scourge" src="/static/raidar/img/48px/Scourge_tango_icon_48px.png">
        <img alt="Druid" src="/static/raidar/img/48px/Druid_tango_icon_48px.png">
        <img alt="Druid" src="/static/raidar/img/48px/Druid_tango_icon_48px.png">
        <img alt="Chronomancer" src="/static/raidar/img/48px/Chronomancer_tango_icon_48px.png">
        <img alt="Chronomancer" src="/static/raidar/img/48px/Chronomancer_tango_icon_48px.png">
        <img alt="Warrior" src="/static/raidar/img/48px/Warrior_tango_icon_48px.png">
        <img alt="Firebrand" src="/static/raidar/img/48px/Firebrand_tango_icon_48px.png">
        <img alt="Herald" src="/static/raidar/img/48px/Herald_tango_icon_48px.png">
      </div>
    </div>
    <div class="r-leaderboard-row">
      <div class="r-damage">
        <svg class="chart" width="100%" xmlns='http://www.w3.org/2000/svg' height="100%" xml:space="preserve" preserveAspectRatio="xMinYMax meet">
          <!-- Same as our other rect graphs -->
          <rect class="chart total r-bg-101"  x='0' y='18px' height='16px' width='100%' opacity='0.3' />
          <rect class="chart boss r-bg-101" x='0' y='18px' height='16px' width='80%'/>

          <!-- Ranking -->
          <text class="rank" x="0" y="28px" dominant-baseline="middle" text-anchor="begin" font-family="Source Sans Pro" font-weight="900" font-size="80">7</text>

          <!-- Encounter Duration -->
          <text class="duration" x="48px" y="8px" dominant-baseline="middle" text-anchor="begin" font-family="Source Sans Pro" font-weight="900" fill="rgba(255, 255, 255, 0.8)" font-size="20">10m 32.53s</text>

          <!-- Encounter DPS (Boss) Total like it is on Global Stats -->
          <text class="dps" x="48px" y="27px" dominant-baseline="middle" text-anchor="begin" font-family="Source Code Pro" fill="#15141e" font-weight="400" font-size="12">(62,320) 85,321 DPS</text>
        </svg>
      </div>
      <div class="r-buffs">
        <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Might.png" alt="Might" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Fury.png" alt="Fury" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Quickness.png" alt="Quickness" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Alacrity.png" alt="Alacrity" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
     </div>
      <div class="r-composition">
        <img alt="Weaver" src="/static/raidar/img/48px/Weaver_tango_icon_48px.png">
        <img alt="Reaper" src="/static/raidar/img/48px/Reaper_tango_icon_48px.png">
        <img alt="Scourge" src="/static/raidar/img/48px/Scourge_tango_icon_48px.png">
        <img alt="Druid" src="/static/raidar/img/48px/Druid_tango_icon_48px.png">
        <img alt="Druid" src="/static/raidar/img/48px/Druid_tango_icon_48px.png">
        <img alt="Chronomancer" src="/static/raidar/img/48px/Chronomancer_tango_icon_48px.png">
        <img alt="Chronomancer" src="/static/raidar/img/48px/Chronomancer_tango_icon_48px.png">
        <img alt="Warrior" src="/static/raidar/img/48px/Warrior_tango_icon_48px.png">
        <img alt="Firebrand" src="/static/raidar/img/48px/Firebrand_tango_icon_48px.png">
        <img alt="Herald" src="/static/raidar/img/48px/Herald_tango_icon_48px.png">
      </div>
    </div>
    <div class="r-leaderboard-row">
      <div class="r-damage">
        <svg class="chart" width="100%" xmlns='http://www.w3.org/2000/svg' height="100%" xml:space="preserve" preserveAspectRatio="xMinYMax meet">
          <!-- Same as our other rect graphs -->
          <rect class="chart total r-bg-101"  x='0' y='18px' height='16px' width='100%' opacity='0.3' />
          <rect class="chart boss r-bg-101" x='0' y='18px' height='16px' width='80%'/>

          <!-- Ranking -->
          <text class="rank" x="0" y="28px" dominant-baseline="middle" text-anchor="begin" font-family="Source Sans Pro" font-weight="900" font-size="80">8</text>

          <!-- Encounter Duration -->
          <text class="duration" x="48px" y="8px" dominant-baseline="middle" text-anchor="begin" font-family="Source Sans Pro" font-weight="900" fill="rgba(255, 255, 255, 0.8)" font-size="20">10m 32.53s</text>

          <!-- Encounter DPS (Boss) Total like it is on Global Stats -->
          <text class="dps" x="48px" y="27px" dominant-baseline="middle" text-anchor="begin" font-family="Source Code Pro" fill="#15141e" font-weight="400" font-size="12">(62,320) 85,321 DPS</text>
        </svg>
      </div>
      <div class="r-buffs">
        <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Might.png" alt="Might" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Fury.png" alt="Fury" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Quickness.png" alt="Quickness" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Alacrity.png" alt="Alacrity" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
     </div>
      <div class="r-composition">
        <img alt="Weaver" src="/static/raidar/img/48px/Weaver_tango_icon_48px.png">
        <img alt="Reaper" src="/static/raidar/img/48px/Reaper_tango_icon_48px.png">
        <img alt="Scourge" src="/static/raidar/img/48px/Scourge_tango_icon_48px.png">
        <img alt="Druid" src="/static/raidar/img/48px/Druid_tango_icon_48px.png">
        <img alt="Druid" src="/static/raidar/img/48px/Druid_tango_icon_48px.png">
        <img alt="Chronomancer" src="/static/raidar/img/48px/Chronomancer_tango_icon_48px.png">
        <img alt="Chronomancer" src="/static/raidar/img/48px/Chronomancer_tango_icon_48px.png">
        <img alt="Warrior" src="/static/raidar/img/48px/Warrior_tango_icon_48px.png">
        <img alt="Firebrand" src="/static/raidar/img/48px/Firebrand_tango_icon_48px.png">
        <img alt="Herald" src="/static/raidar/img/48px/Herald_tango_icon_48px.png">
      </div>
    </div>
    <div class="r-leaderboard-row">
      <div class="r-damage">
        <svg class="chart" width="100%" xmlns='http://www.w3.org/2000/svg' height="100%" xml:space="preserve" preserveAspectRatio="xMinYMax meet">
          <!-- Same as our other rect graphs -->
          <rect class="chart total r-bg-101"  x='0' y='18px' height='16px' width='100%' opacity='0.3' />
          <rect class="chart boss r-bg-101" x='0' y='18px' height='16px' width='80%'/>

          <!-- Ranking -->
          <text class="rank" x="0" y="28px" dominant-baseline="middle" text-anchor="begin" font-family="Source Sans Pro" font-weight="900" font-size="80">9</text>

          <!-- Encounter Duration -->
          <text class="duration" x="48px" y="8px" dominant-baseline="middle" text-anchor="begin" font-family="Source Sans Pro" font-weight="900" fill="rgba(255, 255, 255, 0.8)" font-size="20">10m 32.53s</text>

          <!-- Encounter DPS (Boss) Total like it is on Global Stats -->
          <text class="dps" x="48px" y="27px" dominant-baseline="middle" text-anchor="begin" font-family="Source Code Pro" fill="#15141e" font-weight="400" font-size="12">(62,320) 85,321 DPS</text>
        </svg>
      </div>
      <div class="r-buffs">
        <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Might.png" alt="Might" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Fury.png" alt="Fury" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Quickness.png" alt="Quickness" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Alacrity.png" alt="Alacrity" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
     </div>
      <div class="r-composition">
        <img alt="Weaver" src="/static/raidar/img/48px/Weaver_tango_icon_48px.png">
        <img alt="Reaper" src="/static/raidar/img/48px/Reaper_tango_icon_48px.png">
        <img alt="Scourge" src="/static/raidar/img/48px/Scourge_tango_icon_48px.png">
        <img alt="Druid" src="/static/raidar/img/48px/Druid_tango_icon_48px.png">
        <img alt="Druid" src="/static/raidar/img/48px/Druid_tango_icon_48px.png">
        <img alt="Chronomancer" src="/static/raidar/img/48px/Chronomancer_tango_icon_48px.png">
        <img alt="Chronomancer" src="/static/raidar/img/48px/Chronomancer_tango_icon_48px.png">
        <img alt="Warrior" src="/static/raidar/img/48px/Warrior_tango_icon_48px.png">
        <img alt="Firebrand" src="/static/raidar/img/48px/Firebrand_tango_icon_48px.png">
        <img alt="Herald" src="/static/raidar/img/48px/Herald_tango_icon_48px.png">
      </div>
    </div>
    <div class="r-leaderboard-row">
      <div class="r-damage">
        <svg class="chart" width="100%" xmlns='http://www.w3.org/2000/svg' height="100%" xml:space="preserve" preserveAspectRatio="xMinYMax meet">
          <!-- Same as our other rect graphs -->
          <rect class="chart total r-bg-101"  x='0' y='18px' height='16px' width='100%' opacity='0.3' />
          <rect class="chart boss r-bg-101" x='0' y='18px' height='16px' width='80%'/>

          <!-- Ranking -->
          <text class="rank" x="0" y="28px" dominant-baseline="middle" text-anchor="begin" font-family="Source Sans Pro" font-weight="900" font-size="80">10</text>

          <!-- Encounter Duration -->
          <text class="duration" x="48px" y="8px" dominant-baseline="middle" text-anchor="begin" font-family="Source Sans Pro" font-weight="900" fill="rgba(255, 255, 255, 0.8)" font-size="20">10m 32.53s</text>

          <!-- Encounter DPS (Boss) Total like it is on Global Stats -->
          <text class="dps" x="48px" y="27px" dominant-baseline="middle" text-anchor="begin" font-family="Source Code Pro" fill="#15141e" font-weight="400" font-size="12">(62,320) 85,321 DPS</text>
        </svg>
      </div>
      <div class="r-buffs">
        <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Might.png" alt="Might" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Fury.png" alt="Fury" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Quickness.png" alt="Quickness" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
         <div class="r-buff">
           <div class="r-buff-icon">
             <img src="{% static 'raidar/img/buff/' %}/Alacrity.png" alt="Alacrity" width="20">
           </div>
           <div class="r-buff-number r-bg-101">100%</div>
         </div>
     </div>
      <div class="r-composition">
        <img alt="Weaver" src="/static/raidar/img/48px/Weaver_tango_icon_48px.png">
        <img alt="Reaper" src="/static/raidar/img/48px/Reaper_tango_icon_48px.png">
        <img alt="Scourge" src="/static/raidar/img/48px/Scourge_tango_icon_48px.png">
        <img alt="Druid" src="/static/raidar/img/48px/Druid_tango_icon_48px.png">
        <img alt="Druid" src="/static/raidar/img/48px/Druid_tango_icon_48px.png">
        <img alt="Chronomancer" src="/static/raidar/img/48px/Chronomancer_tango_icon_48px.png">
        <img alt="Chronomancer" src="/static/raidar/img/48px/Chronomancer_tango_icon_48px.png">
        <img alt="Warrior" src="/static/raidar/img/48px/Warrior_tango_icon_48px.png">
        <img alt="Firebrand" src="/static/raidar/img/48px/Firebrand_tango_icon_48px.png">
        <img alt="Herald" src="/static/raidar/img/48px/Herald_tango_icon_48px.png">
      </div>
    </div>
  </div>



</div>
