{% load static %}
<div class="uk-grid uk-grid-item-match">
  {# Mobile navigation/filtering #}
  <h6 class="uk-font-family-secondary uk-hidden@s uk-margin-bottom">Encounter Filter</h6>
  <div class="uk-button-group uk-flex-wrap uk-width-1-1 uk-width-auto@s">
      [[#each [0, 1, 2] as kind_id]]
        [[#with data.boss_locations[kind_id]]]
          [[#with page.leaderboards.kind == kind_id as active]]
            <button class="uk-button uk-inline" class-uk-button-primary="active" on-click="@this.set('page.leaderboards.kind', kind_id) && @this.fire('leaderboards_nav')">[[name]]</button>
          [[/with]]
        [[/with]]
      [[/each]]
  </div>

  <div class="r-toggle uk-font-family-secondary uk-text-small uk-text-uppercase uk-width-auto@s uk-margin-small-top uk-margin-small-bottom">
     <div uk-form-custom="target: > * > span.era">
         <select value="[[page.era]]" on-change="leaderboards_nav">
           <option value="[[null]]" default>This Era</option>
           <option disabled>──────────</option>
           [[#each leaderboards.eras]]
             <option value="[[id]]">[[name]]</option>
           [[/each]]
         </select>
         <span>
           <span class="uk-active era"></span> <i class="material-icons">keyboard_arrow_down</i>
         </span>
     </div>
     |
     <div uk-form-custom="target: > * > span.time">
         <select value="[[page.leaderboards.week]]">
             [[#each leaderboards.weeks as week]]
               <option value="[[week]]">[[week == 'Era' ? week : formatDate(week, true)]]</option>
             [[/each]]
         </select>
         <span>
             <span class="uk-active">Fastest Kills</span> <span class="uk-active time"></span> <i class="material-icons">keyboard_arrow_down</i>
         </span>
     </div>
  </div>

</div>


  [[#each data.boss_locations[page.leaderboards.kind].wings as wing]]
  <div class="r-leaderboard-wing">
    <h4 class="uk-font-family-secondary r-leaderboard-heading uk-margin-remove uk-text-uppercase">[[wing.name]]</h4>
    [[#each wing.bosses as boss]]
      [[#with leaderboards[boss].periods[page.leaderboards.week] as leaderboard, leaderboards[boss].max_max_dps as max_max_dps]]
        <div class="r-leaderboard-encounter" class-expanded="boss == page.leaderboards.boss" on-click="@this.set('page.leaderboards.boss', boss)">
          <img src="/static/raidar/img/icon/[[data.areas[boss].name]].png" alt="[data.areas[boss].name]]" width="50px">
          <h2 class="uk-margin-remove-top uk-text-truncate ">[[data.areas[boss].name]]</h2>
          <a class="uk-h3 uk-margin-remove" class-uk-invisible="boss != page.leaderboards.boss" on-click="@this.set('page.leaderboards.boss', null) && false"><i class="material-icons">close</i></a>
          [[#each leaderboard as line]]
            <a class="r-leaderboard-row" href="[[baseURL]]/encounter/[[line.url_id]]" on-click="(@event.ctrlKey || @event.metaKey) || @this.page({ name: 'encounter', no: line.url_id })">
              <div class="r-rank uk-text-center uk-text-middle uk-h2 uk-margin-remove-bottom">
                [[@index + 1]]
              </div>
              <div class="r-time">
                <h3 class="uk-margin-remove-bottom">[[formatTime(line.duration)]]</h3>
                <div class="r-remaining uk-font-family-secondary uk-text-truncate">
                  [[#with data.areas[boss].enrage as enrage]]
                    [[formatTime(enrage - line.duration)]] remaining
                    [[#if line.tags]]&middot;[[/if]]
                  [[/with]]
                  [[line.tags]]
                </div>
              </div>

              <div class="r-damage">
                <svg class="chart" width="100%" xmlns='http://www.w3.org/2000/svg' height="29px" xml:space="preserve" preserveAspectRatio="xMinYMax meet">
                  <!-- Same as our other rect graphs -->
                  <rect class="chart total r-bg-101"  x='0' y='3px' height='24px' width='[[100 * line.dps / max_max_dps]]%' opacity='0.3' />
                  <rect class="chart boss r-bg-101" x='0' y='3px' height='24px' width='[[100 * line.dps_boss / max_max_dps]]%'/>

                  <!-- Encounter DPS (Boss) Total like it is on Global Stats -->

                </svg>
                <span class="uk-font-family-secondary">([[num(line.dps_boss, 0)]]) [[num(line.dps, 0)]] DPS</span>
              </div>
              <div class="r-buffs">
                [[#each ['might', 'fury', 'quickness', 'alacrity'] as buff]]
                  [[#with data.buffs[buff].name as name, data.buffs[buff].stacks ? num : perc as format, data.buffs[buff].icon as icon]]
                    <div class="r-buff">
                      <div class="r-buff-icon">
                        <img src="[[icon]]" alt="[[name]]" width="20">
                      </div>
                      <div class="r-buff-number r-bg-101">[[format(line.buffs[buff], 2)]]</div>
                    </div>
                  [[/with]]
                [[/each]]
              </div>
              <div class="r-composition">
                [[#each line.comp as member]]
                  [[#with data.archetypes[member[0]] as arch, data.specialisations[member[1]][member[2]] as spec]]
                    <img alt="[[arch]] [[spec]]" src="/static/raidar/img/48px/[[spec]]_tango_icon_48px.png">
                  [[/with]]
                [[/each]]
              </div>
            </a>
          [[/each]]
        </div>
      [[/with]]
    [[/each]]
    </div>
  [[/each]]
