<nav class="uk-navbar uk-navbar-transparent uk-navbar-container">
  <div class="uk-navbar-left">
    <div class="uk-logo">
      <img class="uk-visible@m uk-margin-top uk-margin-bottom" src="{% static 'raidar/img/logo/full-logo.svg' %}" alt="GW2 Raidar Logo" uk-svg>
      <img width="40" height="40" class="uk-hidden@m" src="{% static 'raidar/img/logo/mark-logo.svg' %}" alt="GW2 Raidar Logo" uk-svg>
    </div>
    <ul class="uk-navbar-nav r-navbar-hover">
      <li class="[[page.name=='global_stats' ? 'uk-active' : '']]"><a href="#" on-click="@this.page('global_stats')">Global Stats</a></li>
      [[#if username]]
        <li class="[[page.name=='profile' ? 'uk-active' : '']]"><a href="#" on-click="@this.page('profile')">Personal Stats</a></li>
        <li class="[[page.name=='encounters' ? 'uk-active' : '']]"><a href="#" on-click="@this.page({name: 'encounters', no: 1})">Encounters</a></li>
      [[#if is_staff]]
        <li class="uk-hidden@m "><a href="{% url 'admin:index' %}[[#if page.name=='encounter']]raidar/encounter/[[encounter.id]]/change/[[/if]]">Admin</a>
      [[/if]]
        <li class="uk-hidden@m [[page.name=='account' ? 'uk-active' : '']]"><a class=" uk-text-small uk-text-white" href="#" on-click="@this.page('account')" title="Account: [[username]]" uk-tooltip="offset: -15"><i class="material-icons uk-margin-small-right">perm_identity</i></a></li>
        <li class="uk-hidden@m"><a class=" uk-text-small uk-text-white" href="#" on-click="auth_logout" title="Logout" uk-tooltip="offset: -15"><i class="material-icons uk-margin-small-right">exit_to_app</i> </a></li>
      [[else]]
        <li class="uk-hidden@m [[page.name=='login' ? 'uk-active' : '']]"><a class=" uk-text-small uk-text-white" href="#" on-click="@this.page('login')"><i class="material-icons uk-margin-small-right">input</i> Login</a></li>
        <li class="uk-hidden@m [[page.name=='register' ? 'uk-active' : '']]"><a class=" uk-text-small uk-text-white" href="#" on-click="@this.page('register')">Register</a></li>
      [[/if]]
    </ul>
  </div>
  <div class="uk-navbar-right uk-visible@m">
     <ul class="uk-navbar-nav r-navbar-hover">
       [[#if username]]
         <li class="[[page.name=='uploads' ? 'uk-active' : '']]"><a href="#" on-click="@this.page('uploads')"><i class="material-icons uk-margin-small-right">file_upload</i>Upload</a></li>
       [[/if]]
       <li class="[[page.name=='info-help' ? 'uk-active' : '']]"><a href="#" on-click="@this.page('info-help')"><i class="material-icons uk-margin-small-right">help_outline</i>Help</a></li>
     </ul>
   </div>
</nav>
