<nav class="uk-navbar uk-navbar-transparent uk-light uk-navbar-container">
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li class="[[page.name=='global_stats' ? 'uk-active' : '']]"><a href="#" on-click="@this.page('global_stats')">Global Stats</a></li>
      [[#if username]]
        <li class="[[page.name=='profile' ? 'uk-active' : '']]"><a href="#" on-click="@this.page('profile')">Personal Stats</a></li>
        <li class="[[page.name=='encounters' ? 'uk-active' : '']]"><a href="#" on-click="@this.page({name: 'encounters', no: 1})">Encounters</a></li>
      [[/if]]
    </ul>
  </div>
  <div class="uk-navbar-right uk-visible@m">
     <ul class="uk-navbar-nav">
       [[#if username]]
         <li class="[[page.name=='uploads' ? 'uk-active' : '']]"><a href="#" on-click="@this.page('uploads')"><i class="material-icons uk-margin-small-right">file_upload</i>Upload</a></li>
       [[/if]]
       <li class="[[page.name=='info-help' ? 'uk-active' : '']]"><a href="#" on-click="@this.page('info-help')"><i class="material-icons uk-margin-small-right">help_outline</i>Help</a></li>
     </ul>
   </div>
</nav>
