{% load staticfiles %}
[[#with profile]]
  <div class="uk-clearfix">
    <div class="uk-float-left">
      <h2 class="uk-margin-remove">Profile: <strong>[[username]]</strong></h2>
      <div>
        <span class="ignore">Member since</span> [[formatDate(joined_at)]]
      </div>
      <div>
        <span class="ignore">Played through</span>
        [[page.era.profile.count]]
        <span class="ignore">encounters in</span>
        <span>[[page.era.name]]</span>
        <div uk-dropdown>
          <h4>[[page.era.name]] Era</h4>
          <div>Started at: [[formatDate(page.era.started_at)]]</div>
          <div>[[page.era.description]]</div>
        </div>
        <span class="ignore">era</span>
      </div>
    </div>
    <div class="uk-float-right uk-text-right">
      <select class="uk-select" value='[[page.era]]'>
        [[#each eras]]
          <option value='[[this]]'>[[name]]</option>
        [[/each]]
      </select>
    </div>
  </div>


  [[#with page.era.profile]]
    <div class="uk-button-group uk-width-1-1 boundary uk-margin-bottom uk-margin-top">
      {# <button class="uk-button">All (45)</button> #}
      <div class="uk-inline">
          [[#with {active: page.area == 'All raid bosses' || page.area in data.areas && (data.areas[page.area].kind == 1 || data.areas[page.area].kind == 2)}]]
            <button class="uk-button" class-uk-button-primary="active">[[#if active]][[data.areas[page.area] ? data.areas[page.area].name : page.area]] - [[/if]]Raids <i class="material-icons">arrow_drop_down</i></button>
          [[/with]]
          <div uk-dropdown="mode: click; boundary: .boundary; boundary-align: true; pos: bottom-justify;">
              <div class="uk-width-1 uk-grid">
                  <div class="uk-width-1">
                      <ul class="uk-nav uk-dropdown-nav">
                        <li on-click="@.set({'page.area': 'All raid bosses'})" class-uk-active="page.area === 'All raid bosses'">
                          <a href="#">All Raids Encounters ([["All raid bosses" in encounter ? encounter["All raid bosses"].archetype.All.profession.All.elite.All.count : 0]])</a>
                        </li>
                      </ul>
                  </div>
                  <div class="uk-width-1-3@m uk-width-1">
                      <ul class="uk-nav uk-dropdown-nav">
                          <li class="uk-nav-header">Spirit Vale</li>
                          <li on-click="@.set({'page.area': '15438'})" class-uk-active="page.area === '15438'"><a href="#">[[data.areas[15438].name]] ([[encounter[15438].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                          <li on-click="@.set({'page.area': '15429'})" class-uk-active="page.area === '15429'"><a href="#">[[data.areas[15429].name]] ([[encounter[15429].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                          <li on-click="@.set({'page.area': '15375'})" class-uk-active="page.area === '15375'"><a href="#">[[data.areas[15375].name]] ([[encounter[15375].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                      </ul>
                  </div>
                  <div class="uk-width-1-3@m uk-width-1">
                      <ul class="uk-nav uk-dropdown-nav">
                          <li class="uk-nav-header">Salvation Pass</li>
                          <li on-click="@.set({'page.area': '16123'})" class-uk-active="page.area === '16123'"><a href="#">[[data.areas[16123].name]] ([[encounter[16123].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                          <li on-click="@.set({'page.area': '16088'})" class-uk-active="page.area === '16088'"><a href="#">[[data.areas[16088].name]] ([[encounter[16088].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                          <li on-click="@.set({'page.area': '16115'})" class-uk-active="page.area === '16115'"><a href="#">[[data.areas[16115].name]] ([[encounter[16115].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                      </ul>
                  </div>
                  <div class="uk-width-1-3@m uk-width-1">
                      <ul class="uk-nav uk-dropdown-nav">
                          <li class="uk-nav-header">Stronghold of the Faithful</li>
                          <li on-click="@.set({'page.area': '16235'})" class-uk-active="page.area === '16235'"><a href="#">[[data.areas[16235].name]] ([[encounter[16235].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                          <li on-click="@.set({'page.area': '16246'})" class-uk-active="page.area === '16246'"><a href="#">[[data.areas[16246].name]] ([[encounter[16246].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                      </ul>
                  </div>
                  <div class="uk-width-1-3@m uk-width-1">
                      <ul class="uk-nav uk-dropdown-nav">
                          <li class="uk-nav-header">Bastion of the Forgotten</li>
                          <li on-click="@.set({'page.area': '17194'})" class-uk-active="page.area === '17194'"><a href="#">[[data.areas[17194].name]] ([[encounter[17194].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                          <li on-click="@.set({'page.area': '17172'})" class-uk-active="page.area === '17172'"><a href="#">[[data.areas[17172].name]] ([[encounter[17172].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                          <li on-click="@.set({'page.area': '17188'})" class-uk-active="page.area === '17188'"><a href="#">[[data.areas[17188].name]] ([[encounter[17188].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                          <li on-click="@.set({'page.area': '17154'})" class-uk-active="page.area === '17154'"><a href="#">[[data.areas[17154].name]] ([[encounter[17154].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                      </ul>
                  </div>
                  <div class="uk-width-1-3@m uk-width-1">
                      <ul class="uk-nav uk-dropdown-nav">
                          <li class="uk-nav-header">Hall of Chains</li>
                          <li on-click="@.set({'page.area': '19767'})" class-uk-active="page.area === '19767'"><a href="#">[[data.areas[19767].name]] ([[encounter[19767].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="uk-inline">
          [[#with {active: page.area == 'All fractal bosses' || page.area in data.areas && data.areas[page.area].kind == 4}]]
            <button class="uk-button" class-uk-button-primary="active">[[#if active]][[data.areas[page.area] ? data.areas[page.area].name : page.area]] - [[/if]]Fractals CM <i class="material-icons">arrow_drop_down</i></button>
          [[/with]]
          <div uk-dropdown="mode: click; boundary: .boundary; boundary-align: true; pos: bottom-justify;">
              <div class="uk-width-1 uk-grid">
                  <div class="uk-width-1">
                      <ul class="uk-nav uk-dropdown-nav">
                        <li on-click="@.set({'page.area': 'All fractal bosses'})" class-uk-active="page.area === 'All fractal bosses'">
                          <a href="#">All Fractal CM Encounters ([["All fractal bosses" in encounter ? encounter["All fractal bosses"].archetype.All.profession.All.elite.All.count : 0]])</a>
                        </li>
                      </ul>
                  </div>
                  <div class="uk-width-1-4@m uk-width-1">
                      <ul class="uk-nav uk-dropdown-nav">
                          <li class="uk-nav-header">Nightmare</li>
                          <li on-click="@.set({'page.area': '17021'})" class-uk-active="page.area === '17021'"><a href="#">[[data.areas[17021].name]] ([[encounter[17021].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                          <li on-click="@.set({'page.area': '17028'})" class-uk-active="page.area === '17028'"><a href="#">[[data.areas[17028].name]] ([[encounter[17028].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                          <li on-click="@.set({'page.area': '16948'})" class-uk-active="page.area === '16948'"><a href="#">[[data.areas[16948].name]] ([[encounter[16948].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                      </ul>
                  </div>
                  <div class="uk-width-1-4@m uk-width-1">
                      <ul class="uk-nav uk-dropdown-nav">
                          <li class="uk-nav-header">Shattered Observatory</li>
                          <li on-click="@.set({'page.area': '17632'})" class-uk-active="page.area === '17632'"><a href="#">[[data.areas[17632].name]] ([[encounter[17632].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                          <li on-click="@.set({'page.area': '17949'})" class-uk-active="page.area === '17949'"><a href="#">[[data.areas[17949].name]] ([[encounter[17949].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                          <li on-click="@.set({'page.area': '17759'})" class-uk-active="page.area === '17759'"><a href="#">[[data.areas[17759].name]] ([[encounter[17759].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                      </ul>
                  </div>
                  <div class="uk-width-1-4@m uk-width-1">
                      <ul class="uk-nav uk-dropdown-nav">
                          <li class="uk-nav-header">Twilight Oasis</li>
                          <li on-click="" class-uk-active=""><a href="#"></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="uk-inline">
          [[#with {active: page.area == 'All golem bosses' || page.area in data.areas && data.areas[page.area].kind == 3}]]
            <button class="uk-button" class-uk-button-primary="active">[[#if active]][[data.areas[page.area] ? data.areas[page.area].name : page.area]] - [[/if]]Golems <i class="material-icons">arrow_drop_down</i></button>
          [[/with]]
          <div uk-dropdown="mode: click; boundary: .boundary; boundary-align: true; pos: bottom-justify;">
              <div class="uk-width-1 uk-grid">
                  <div class="uk-width-1">
                      <ul class="uk-nav uk-dropdown-nav">
                        <li on-click="@.set({'page.area': 'All golem bosses'})" class-uk-active="page.area === 'All golem bosses'">
                          <a href="#">All Golem Encounters ([["All golem bosses" in encounter ? encounter["All golem bosses"].archetype.All.profession.All.elite.All.count : 0]])</a>
                        </li>
                      </ul>
                  </div>
                  <div class="uk-width-1-4@m uk-width-1">
                      <ul class="uk-nav uk-dropdown-nav">
                          <li class="uk-nav-header">Massive</li>
                          <li on-click="@.set({'page.area': '16178'})" class-uk-active="page.area === '16178'"><a href="#">[[data.areas[16178].name]] ([[encounter[16178].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                          <li on-click="@.set({'page.area': '16202'})" class-uk-active="page.area === '16202'"><a href="#">[[data.areas[16202].name]] ([[encounter[16202].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                          <li on-click="@.set({'page.area': '16169'})" class-uk-active="page.area === '16169'"><a href="#">[[data.areas[16169].name]] ([[encounter[16169].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                      </ul>
                  </div>
                  <div class="uk-width-1-4@m uk-width-1">
                      <ul class="uk-nav uk-dropdown-nav">
                          <li class="uk-nav-header">Normal</li>
                          <li on-click="@.set({'page.area': '16199'})" class-uk-active="page.area === '16199'"><a href="#">[[data.areas[16199].name]] ([[encounter[16199].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                          <li on-click="@.set({'page.area': '16177'})" class-uk-active="page.area === '16177'"><a href="#">[[data.areas[16177].name]] ([[encounter[16177].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                          <li on-click="@.set({'page.area': '16198'})" class-uk-active="page.area === '16198'"><a href="#">[[data.areas[16198].name]] ([[encounter[16198].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                      </ul>
                  </div>
                  <div class="uk-width-1-4@m uk-width-1">
                      <ul class="uk-nav uk-dropdown-nav">
                          <li class="uk-nav-header">Special</li>
                          <li on-click="@.set({'page.area': '16176'})" class-uk-active="page.area === '16176'"><a href="#">[[data.areas[16176].name]] ([[encounter[16176].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                          <li on-click="@.set({'page.area': '16174'})" class-uk-active="page.area === '16174'"><a href="#">[[data.areas[16174].name]] ([[encounter[16174].archetype.All.profession.All.elite.All.count || 0]])</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
    </div>

  {% comment %}
    <div class="uk-margin">
      <div uk-grid class="uk-grid-small">
        [[#each keysWithAllLast(encounter, data.areas)]]
          [[#with {encounterId: .}]]
            [[#with encounter[encounterId].archetype.All.profession.All.elite.All]]
              <div uk-tooltip class="uk-padding-small uk-margin-left uk-margin-remove-adjacent link" title="[[avg_success_percentage.toPrecision(3)]]%" style="[[barSurvivalPerc(0, 100 - avg_success_percentage, 0)]]; width: 230px;" on-click="@.set({ 'page.area': encounterId })" class-all="[[encounterId.match(/^All \w+ bosses$/)]]">
                <input class="uk-radio" type="radio" name="[[page.area]]" value="[[encounterId]]"/>
                [[encounterId.match(/^All \w+ bosses$/) ? encounterId : data.areas[encounterId]]]
                ([[count]])
              </div>
            [[/with]]
          [[/with]]
        [[/each]]
      </div>
    </div>
  {% endcomment %}


    [[#if encounter[page.area]]]
      <div class="uk-text-center uk-clearfix">
        <div class="uk-float-left uk-flex uk-flex-between uk-padding-small" style="[[barSurvivalPerc(
            encounter[page.area].archetype.All.profession.All.elite.All.avg_down_percentage,
            encounter[page.area].archetype.All.profession.All.elite.All.avg_dead_percentage,
            0)]]; width: 400px">
            <div>Live [[
              perc(100
              - encounter[page.area].archetype.All.profession.All.elite.All.avg_down_percentage
              - encounter[page.area].archetype.All.profession.All.elite.All.avg_dead_percentage
              )]]</div>
          <div>Down [[perc(encounter[page.area].archetype.All.profession.All.elite.All.avg_down_percentage)]]</div>
          <div>Dead [[perc(encounter[page.area].archetype.All.profession.All.elite.All.avg_dead_percentage)]]</div>
        </div>
        <div class="uk-float-right uk-flex uk-flex-between uk-padding-small" style="[[barSurvivalPerc(
            encounter[page.area].archetype[1] ? 100 * encounter[page.area].archetype[1].profession.All.elite.All.count / encounter[page.area].archetype.All.profession.All.elite.All.count : 0,
            encounter[page.area].archetype[2] ? 100 * encounter[page.area].archetype[2].profession.All.elite.All.count / encounter[page.area].archetype.All.profession.All.elite.All.count : 0,
            0
          )]]; width: 400px">
          <div>Support [[perc(encounter[page.area].archetype[5] ? 100 * encounter[page.area].archetype[5].profession.All.elite.All.count / encounter[page.area].archetype.All.profession.All.elite.All.count : 0)]]</div>
          <div>Power [[perc(encounter[page.area].archetype[1] ? 100 * encounter[page.area].archetype[1].profession.All.elite.All.count / encounter[page.area].archetype.All.profession.All.elite.All.count : 0)]]</div>
          <div>Condi [[perc(encounter[page.area].archetype[2] ? 100 * encounter[page.area].archetype[2].profession.All.elite.All.count / encounter[page.area].archetype.All.profession.All.elite.All.count : 0)]]</div>
        </div>
      </div>


      [[#each keysWithAllLast(encounter[page.area].archetype, {1: 2, 2: 3, 5: 1})]]
        [[#with {archetypeId: ., archetype: encounter[page.area].archetype[.]}]]
          <h3>
            [[#if archetypeId !== 'All']]
              <img alt="[[data.archetypes[archetypeId]]]" src="{% static 'raidar/img/arch/' %}/[[data.archetypes[archetypeId]]].png"/>
            [[/if]]
            [[archetypeId === 'All' ? 'All' : data.archetypes[archetypeId]]]
            <span class="ignore">Archetypes on</span>
            [[page.area.match(/^All \w+ bosses$/) ? page.area : data.areas[page.area].name]]
          </h3>
          <table class="uk-table uk-table-striped">
            <thead>
              <tr class="uk-background-secondary">
                <th>Profession</th>
                <th>Encounters</th>
                <th>Avg DPS</th>
                <th>Max DPS</th>
                <th>Avg Boss DPS</th>
                <th>Max Boss DPS</th>
                <th>Down</th>
                <th>Dead</th>
              </tr>
            </thead>
            <tbody>
              [[#each keysWithAllLast(archetype.profession)]]
                [[#with {professionId: ., profession: archetype.profession[.]}]]
                  [[#each keysWithAllLast(profession.elite)]]
                    [[#with {eliteId: ., elite: profession.elite[.]}]]
                      [[#with elite]]
                        <tr class="[[professionId === 'All' ? 'all' : '']]">
                          <th>
                            [[#if professionId !== 'All']]
                              <img alt="[[data.specialisations[professionId][eliteId]]]" src="{% static 'raidar/img/20px/' %}/[[data.specialisations[professionId][eliteId]]]_tango_icon_20px.png"/>
                            [[/if]]
                            [[professionId === 'All' ? 'All' : data.specialisations[professionId][eliteId]]]
                          </th>
                          <td>
                            [[num(.count, 0)]]
                          </td>
                          <td class="link" on-click="@this.fire('chart', event, archetypeId, professionId, eliteId, 'dps', 'DPS')">
                            [[num(.avg_dps, 0)]]
                          </td>
                          <td class="link" on-click="@this.fire('chart', event, archetypeId, professionId, eliteId, 'dps', 'DPS')">
                            [[num(.max_dps, 0)]]
                          </td>
                          <td class="link" on-click="@this.fire('chart', event, archetypeId, professionId, eliteId, 'dps_boss', 'Boss DPS')">
                            [[num(.avg_dps_boss, 0)]]
                          </td>
                          <td class="link" on-click="@this.fire('chart', event, archetypeId, professionId, eliteId, 'dps_boss', 'Boss DPS')">
                            [[num(.max_dps_boss, 0)]]
                          </td>
                          <td>
                            [[perc(.avg_down_percentage)]]
                          </td>
                          <td>
                            [[perc(.avg_dead_percentage)]]
                          </td>
                        </tr>
                      [[/with]]
                    [[/with]]
                  [[/each]]
                [[/with]]
              [[/each]]
            </tbody>
          </table>
        [[/with]]
      [[/each]]
    [[/if]]
  [[/with]]
[[/with]]
