[[#with profile]]
  <div class="uk-clearfix">
    <div class="uk-float-left">
      <h2 class="uk-margin-remove">Profile: <strong>[[username]]</strong></h2>
      <span class="ignore">Played</span>
      [[num_characters]]
      <span class="ignore">characters through</span>
      [[count]]
      <span class="ignore">encounters since</span>
      [[formatDate(joined_at)]]
    </div>
    <div class="uk-float-right uk-padding-small uk-text-center" style="[[barSurvivalPerc(summary.avg_down_percentage, summary.avg_dead_percentage, summary.avg_disconnect_percentage)]]; width: 400px">
      <span class="uk-float-left">Down [[summary.avg_down_percentage.toPrecision(3)]]%</span>
      Dead [[summary.avg_dead_percentage.toPrecision(3)]]%
      <span class="uk-float-right">Disc [[summary.avg_disconnect_percentage.toPrecision(3)]]%</span>
    </div>
  </div>


  <div class="uk-container uk-margin" style="padding-left: 15px">
    <div uk-grid class="uk-child-width-1-5@m uk-grid-small">
      [[#each encounter:encounterId]]
        [[#with archetype.All.profession.All]]
          <div uk-tooltip class="uk-card uk-padding-small uk-card-small uk-margin-remove-adjacent" title="[[avg_success_percentage.toPrecision(3)]]%" style="[[barSurvivalPerc(0, 100 - avg_success_percentage, 0)]]" on-click="@.set({ 'page.area': encounterId })">
            <input class="uk-radio" type="radio" name="[[page.area]]" value="[[encounterId]]"/>
            [[encounterId == 'All' ? 'All' : data.areas[encounterId]]]
            ([[count]])
          </div>
        [[/with]]
      [[/each]]
    </div>
  </div>


  [[#each encounter[page.area].archetype:archetypeId]]
  <h3>
    [[archetypeId == 'All' ? 'All' : data.archetypes[archetypeId]]]
    Archetypes on
    [[page.area == 'All' ? 'All Encounters' : data.areas[page.area]]]
  </h3>
    <table class="uk-table uk-table-striped">
      <thead>
        <tr>
          <th>Profession</th>
          <th>Encounters</th>
          <th>Avg DPS</th>
          <th>Max DPS</th>
          <th>Down</th>
          <th>Dead</th>
          <th>Disconnected</th>
        </tr>
      </thead>
      <tbody>
        [[#each profession:professionId]]
          <tr>
            <th>
              [[professionId == 'All' ? 'All' : data.specialisations[professionId][0]]]
            </th>
            <td>
              [[count]]
            </td>
            <td>
              [[avg_dps]]
            </td>
            <td>
              [[max_dps]]
            </td>
            <td>
              [[avg_down_percentage ? avg_down_percentage.toPrecision(3) + '%' : '']]
            </td>
            <td>
              [[avg_dead_percentage ? avg_dead_percentage.toPrecision(3) + '%' : '']]
            </td>
            <td>
              [[avg_disconnect_percentage ? avg_disconnect_percentage.toPrecision(3) + '%' : '']]
            </td>
          </tr>
        [[/each]]
      </tbody>
    </table>
  [[/each]]
[[/with]]
