<h2>Thank you!</h2>
<p> Thank you so much for your donation!! We work hard to try and bring something valuable to the Guild Wars 2 community and your donation will help us continually do so. Not only will it help towards the monthly running costs, but will also allow us to look into investing into better infrastructure which will result in a more feature rich website for the entire community.</p>
<p> Not only that, but it will keep this website ad free and free from subscriptions for everyone to use. </p>
<p> if you have any questions, suggestions, feedback or to become a regular donor, feel free to <a href="mailto:admin@gw2raidar.com"> contact us</a>  </p>
<p>Sincerely,</p>
<p><b>Merforga and the rest of the GW2R team</b></p>
