<div class="uk-margin-small uk-flex uk-flex-bottom">
  <select as-ukUpdate class="uk-select uk-margin-small uk-form-small" style="width: 150px" value="[[upload.category]]">
    <option value="[[null]]">No category</option>
    [[#each data.categories:id]]
      <option value="[[id]]">[[.]]</option>
    [[/each]]
  </select>
  <input class="uk-flex-auto uk-margin-small" placeholder="Tags" as-tagsInput="'upload.tags'">
</div>

<table class="uk-table uk-table-striped">
  <thead>
    <tr>
      <th class="uk-width-1-4">
        File
      </th>
      <th class="uk-width-1-4">
        Uploader
      </th>
      <th class="uk-width-2-4">
        Status
      </th>
    </tr>
  </thead>
  <tbody>
    [[#each uploads]]
      <tr [[#if success]]class="link" on-click="@this.page({ name: 'encounter', no: encounterUrlId })"[[/if]]>
        <td class="[[success === true ? 'uk-text-success' : success === false ? 'uk-text-danger' : '']]">
          [[name]]
        </td>
        <td>
          [[uploaded_by]]
        </td>
        <td>
          [[#if success]]
            Success
          [[elseif success === false]]
            [[error || "Error"]]
          [[elseif progress]]
            [[#if progress < 100]]
              Uploading [[progress]]% (Don't leave this page)
            [[else]]
              Analysing (This will finish even if you leave the website)
            [[/if]]
          [[else]]
            Queued
          [[/if]]
        </td>
      </tr>
    [[/each]]
  </tbody>
</table>

<p>
  To upload: Drag and drop <code>.evtc</code> or <code>.evtc.zip</code> anywhere into GW2 Raidar.
</p>
<p>
  Processing may take a few minutes, however once a log is in a status of "Analysing", it will be processed even if you leave the website.
</p>
<p><strong><font color=red>
  Note that refreshing or closing the page will cancel any pending uploads.
  </font></strong></p>
