.expected {
  color: #999999;
  font-size: 70%;
}
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6,
body
{
  font-family: 'Raleway', sans-serif;
}
.navbar-secondary .uk-navbar-nav > li > a {
  height: 40px;
}
rect.bar-average {
  fill: #eeeeff;
  stroke: #ddddff;
}
rect.bar-good {
  fill: #eeffee;
  stroke: #ddffdd;
}
rect.bar-bad {
  fill: #ffeeee;
  stroke: #ffdddd;
}

table.stats {
  table-layout: fixed;
  width: 1px;
}
table.stats td, th {
  overflow: hidden;
  width: 100px;
  white-space: nowrap;
}
table.stats td:nth-of-type(1), th:nth-of-type(1) {
  width: 250px;
}
.table-container {
  position: relative;
}
table.row-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background: #ffffff;
  pointer-events: none;
}
