.expected {
  color: #999999;
  font-size: 70%;
}
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6,
body
{
  font-family: 'Raleway', sans-serif;
}
.navbar-secondary .uk-navbar-nav > li > a {
  height: 40px;
}
rect.bar-average {
  fill: #eeeeff;
  stroke: #ddddff;
}
rect.bar-good {
  fill: #eeffee;
  stroke: #ddffdd;
}
rect.bar-bad {
  fill: #ffeeee;
  stroke: #ffdddd;
}
